.logo-img {
    height: 56px;
    margin-top: -6px;
}


/*-- About Page --*/

section.about-w3ls,
section.team-w3ls,
section.cust-agileits,
section.service-w3ls,
section.service-agileits,
section.work-w3ls,
section.shipment-w3ls,
section.transit-w3ls,
section.contact-us,
section.contact-w3ls {
    padding: 50px 0;
}

section.about-w3ls i.fa,
section.team-w3ls i.fa,
section.cust-agileits i.fa,
section.service-w3ls i.fa,
section.service-agileits i.fa,
section.work-w3ls i.fa,
section.shipment-w3ls i.fa,
section.transit-w3ls i.fa,
section.contact-us i.fa,
section.contact-w3ls i.fa,
.fa-trophy,
.fa-smile-o {
    font-size: 27px;
    font-weight: thin;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    color: #fff;
    margin: 0 auto;
    display: block;
    background-color: $primary;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
}

section.about-w3ls h3.text-center,
section.team-w3ls h3.text-center,
section.cust-agileits h3.text-center,
section.service-w3ls h3.text-center,
section.service-agileits h3.text-center,
section.work-w3ls h3.text-center,
section.shipment-w3ls h3.text-center,
section.transit-w3ls h3.text-center,
section.contact-us h3.text-center,
section.contact-w3ls h3.text-center {
    font-size: 50px;
    font-weight: normal;
    color: $tertiary;
    padding: 20px 0 60px;
    font-family: 'Exo 2', sans-serif;
    position: relative;
}

section.about-w3ls h3.text-center:after,
section.team-w3ls h3.text-center:after,
section.cust-agileits h3.text-center:after,
section.service-w3ls h3.text-center:after,
section.service-agileits h3.text-center:after,
section.work-w3ls h3.text-center:after,
section.shipment-w3ls h3.text-center:after,
section.transit-w3ls h3.text-center:after,
section.contact-us h3.text-center:after,
section.contact-w3ls h3.text-center:after {
    content: '';
    background-color: $primary;
    height: 5px;
    width: 230px;
    position: absolute;
    left: 40%;
    bottom: 19%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}

section.about-w3ls p {
    font-size: 16px;
    font-weight: normal;
    color: #999;
    line-height: 40px;
    text-align: center;
}

section.team-w3ls p.text-center {
    font-size: 16px;
    font-weight: normal;
    color: #999;
    line-height: 30px;
    padding-bottom: 50px;
}

section.team-w3ls h4 {
    font-size: 20px;
    font-weight: normal;
    color: $tertiary;
    padding: 10px 0;
    text-transform: uppercase;
    font-family: 'Exo 2', sans-serif;
}

section.team-w3ls p.team-p1 {
    font-size: 16px;
    font-weight: normal;
    color: #999;
}

section.team-w3ls ul.social-icons1 {}

section.team-w3ls ul.social-icons1 li {
    display: inline-block!important;
    margin: 1px!important;
    padding: 10px 0;
}

section.team-w3ls ul.social-icons1 li a {
    text-decoration: none;
}

section.team-w3ls ul.social-icons1 li a i.fa.fa-facebook {
    color: #fff;
    background-color: #3b5998;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    text-align: center;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    /*-- Agile ITS --*/
    -ms-transition: 0.5s all;
}

section.team-w3ls ul.social-icons1 li a i.fa.fa-facebook:hover {
    background-color: #17233E;
}

section.team-w3ls ul.social-icons1 li a i.fa.fa-twitter {
    color: #fff;
    background-color: #55acee;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    text-align: center;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

section.team-w3ls ul.social-icons1 li a i.fa.fa-twitter:hover {
    background-color: #1F435F;
}

section.team-w3ls ul.social-icons1 li a i.fa.fa-linkedin {
    color: #fff;
    background-color: #e68523;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    text-align: center;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

section.team-w3ls ul.social-icons1 li a i.fa.fa-linkedin:hover {
    background-color: #794612;
}

section.team-w3ls ul.social-icons1 li a i.fa.fa-google-plus {
    color: #fff;
    background-color: #dc4e41;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    text-align: center;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

section.team-w3ls ul.social-icons1 li a i.fa.fa-google-plus:hover {
    background-color: #69251F;
}

section.cust-agileits p.text-center {
    font-size: 16px;
    font-weight: normal;
    color: #999;
    line-height: 30px;
    padding-bottom: 50px;
}


/*-- /About Page --*/

.clients-image {
    width: 100%;
    margin-left: 91px;
}


/*HEADER*/

.header-wrapper {
    position: relative;
    width: 100%;
    .about-title-wrapper {
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        .about-title {
            font-size: 44px;
            color: #fff;
            font-family: 'Exo 2', sans-serif;
        }
        .about-sub-title {
            color: #fff;
            font-family: 'Exo 2', sans-serif;
            font-size: 17px;
            font-weight: normal;
            color: #fff;
        }
    }
}

@media (max-width: 576px) {
    .header-wrapper .about-title-wrapper {
        top: 72% !important;
    }
    .header-wrapper .about-title-wrapper .about-title {
        font-size: 18px !important;
    }
    .header-wrapper .about-title-wrapper .about-sub-title {
        font-size: 12px !important;
    }
}

.about-w3ls{
    margin-top: 8% !important;
}