.logo-img{
    height: 56px;
    margin-top: -6px;
}
/*-- contact page --*/
/*-- contact address --*/

section.inner-w3ls {
    background: url(../images/banner1.jpg);
    background-position: center;
    background-attachment: fixed;
}
section.contact-us {
	
}
section.contact-us p.text-center { 
	font-size:17px;
	padding:0 0 40px;
	color:#999;
}
section.contact-us h4 {
    font-size: 20px;
    padding: 20px 0;
    font-weight: bold;
    color: #33ACCC;
	font-family: 'Exo 2', sans-serif;
}
section.contact-us p {
	font-size:17px;
	padding:10px 0;
	color:#999;
}
section.contact-us a {
	color:#999;
	text-decoration:none;
}
section.contact-us iframe.googlemaps {
    height:400px;
    width: 100%;
    margin-bottom: 2%;
}
/*-- /contact address --*/
section.contact-w3ls p.text-center {
	font-size:16px;
	font-weight:normal;
	padding-bottom:50px;
}
section.contact-w3ls label.contact-p1 {
    font-size: 17px;
    font-weight: 300;
    color:#16214e;
    padding-bottom: 10px;
}
.col-lg-6.col-md-6.col-sm-6.contact-agile1,.col-lg-6.col-md-6.col-sm-6.contact-agile2 {
    z-index: 99;
}
section.contact-w3ls p.help-block {
    color:#ff0500!important;
}
section.contact-w3ls input#name, section.contact-w3ls input#email, section.contact-w3ls input#phone , section.contact-w3ls input#subject {
	height:50px;
}
section.contact-w3ls input#name, section.contact-w3ls input#email, section.contact-w3ls input#phone, section.contact-w3ls input#subject ,section.contact-w3ls textarea#message {
	font-size:17px;
	font-weight:normal;
	color:#000;
	background-color:transparent;
	border-radius:0;
	border-color:grey;
	outline:none;
}
section.contact-w3ls button.btn.btn-primary {
	color: #ffffff;
    background-color: $primary;
    border: 2px solid #33accc;
    font-size: 17px;
    padding: 10px 20px;
    width: 100%;
    margin: 25px 0;
}
section.contact-w3ls button.btn.btn-primary:hover {
    color: #fff;
    background-color: #F5998E;
    border: 2px solid #F5998E;
}
/*-- /contact page --*/


.contact-info {
    .address { 
    display: flex;
    }
    
     .address { 
    display: flex;
         
         i {
            position: relative;
            top: -24px;            
         }
         
         p {
             color: white;
         }
    }
    
    .phone { 
    display: flex;
         
         i {
            position: relative;
            top: -24px;            
         }
         
         p {
             color: white;
         }
    }
    
    .email-info { 
             
         i {
            position: relative;
            top: -37px;            
         }
         
      
    }
}
/*HEADER*/

.header-wrapper {
    position: relative;
    width: 100%;
    .service-title-wrapper{
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        line-height: 70px;
        width: 100%;
        transform: translate(-50%, -50%);
        .service-title cont-title {
            font-size: 44px;
            color: #fff;
            font-family: 'Exo 2', sans-serif;
        }
        .sub-title-service cont-sub {
            color: #fff;
            font-family: 'Exo 2', sans-serif;
            font-size: 17px;
            font-weight: normal;
            color: #fff;
        }
    }
}
@media (max-width: 576px) {
    .header-wrapper .service-title-wrapper{
        top:72% !important;
        
    }
    .header-wrapper .service-title-wrapper .cont-title{
        font-size: 27px !important;
    }
    .header-wrapper .service-title-wrapper .cont-sub{
        font-size: 12px !important;
        line-height: 3 !important;
    }
    
    
    .iframe-wrapper{
        width: 290px !important;
    }
}


.contact-us{
    margin-top: 4% !important;
}