/*--Slick slider --*/

.slick-next {
    right: -50px !important;
    width: 40px !important;
    height: 40px !important;
}

.slick-next:before {
        font-size: 40px !important;

}

.slick-prev {
    left: -50px !important;
    width: 40px !important;
    height: 40px !important;
}

.slick-prev:before {
        font-size: 40px !important;

}




/*-- responsive design --*/

@media (max-width:1600px) {
    section.work-w3ls .nav-tabs > li:nth-child(1) {
        margin-left: 41em;
    }
    .header {
        height: 796px;
    }
    section.banner-w3ls h2.text-center {
        padding: 330px 0 40px;
    }
}

@media (max-width:1440px) {
    section.work-w3ls .nav-tabs > li:nth-child(1) {
        margin-left: 34.5em;
    }
    section.work-w3ls .b-wrapper i.fa.fa-search-plus {
        padding-top: 70px;
    }
    .content-w3ls {
        height: 350px;
    }
}

@media (max-width: 1366px) {
    section.work-w3ls .nav-tabs > li:nth-child(1) {
        margin-left: 32em;
    }
}

@media (max-width: 1280px) {
    section.work-w3ls .nav-tabs > li:nth-child(1) {
        margin-left: 28em;
    }
    section.work-w3ls .b-wrapper i.fa.fa-search-plus {
        padding-top: 55px;
    }
}

@media (max-width:1080px) {
    .navbar-brand {
        float: none;
        text-align: center;
        padding: 20px 0px 50px;
        display: inline-block;
    }
    .navbar-header {
        float: none;
    }
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: 35%;
    }
    .navbar-right {
        float: none!important;
        margin-right: auto;
    }
    .header {
        height: 750px;
    }
    ul.nav.navbar-nav.navbar-right {
        margin: 0 0 0 22px;
    }
    section.banner-w3ls h2.text-center {
        font-size: 60px;
        padding: 300px 0 30px;
    }
    section.banner-w3ls p.text-center {
        font-size: 16px;
    }
    section.info-w3ls h3.text-center,
    section.info-w3ls2 h3.text-center,
    section.info-w3ls3 h3.text-center,
    section.special-w3layouts h3.text-center {
        font-size: 40px;
    }
    section.info-w3ls p.text-center,
    section.info-w3ls2 p.text-center,
    section.info-w3ls3 p.text-center {
        font-size: 14px;
    }
    section.inner-w3ls {
        background-size: initial;
        -webkit-background-size: initial;
        -moz-background-size: initial;
        -o-background-size: initial;
        -ms-background-size: initial;
        min-height: 450px;
    }
    section.banner-w3ls2,
    section.banner-w3ls3 {
        min-height: 600px;
    }
    section.banner-w3ls2 h3.text-center,
    section.banner-w3ls3 h3.text-center {
        font-size: 50px;
    }
    section.banner-w3ls2 h3.text-center,
    section.banner-w3ls3 h3.text-center {
        padding-top: 230px;
    }
    section.inner-w3ls h2.text-center {
        font-size: 50px;
        padding: 195px 0 20px;
    }
    section.about-w3ls h3.text-center,
    section.team-w3ls h3.text-center,
    section.cust-agileits h3.text-center,
    section.service-w3ls h3.text-center,
    section.service-agileits h3.text-center,
    section.work-w3ls h3.text-center,
    section.shipment-w3ls h3.text-center,
    section.transit-w3ls h3.text-center,
    section.contact-us h3.text-center,
    section.contact-w3ls h3.text-center {
        font-size: 40px;
    }
    section.info-w3ls h3.text-center:after,
    section.info-w3ls2 h3.text-center:after,
    section.info-w3ls3 h3.text-center:after,
    section.about-w3ls h3.text-center:after,
    section.team-w3ls h3.text-center:after,
    section.cust-agileits h3.text-center:after,
    section.service-w3ls h3.text-center:after,
    section.service-agileits h3.text-center:after,
    section.work-w3ls h3.text-center:after,
    section.shipment-w3ls h3.text-center:after,
    section.transit-w3ls h3.text-center:after,
    section.contact-us h3.text-center:after,
    section.contact-w3ls h3.text-center:after,
    section.special-w3layouts h3.text-center:after {
        width: 22%;
        left: 39%;
    }
    section.about-w3ls p {
        font-size: 14px;
        line-height: 35px;
    }
    section.about-w3ls,
    section.team-w3ls,
    section.cust-agileits,
    section.service-w3ls,
    section.service-agileits,
    section.work-w3ls,
    section.shipment-w3ls,
    section.transit-w3ls,
    section.contact-us,
    section.contact-w3ls {
        padding: 50px 0 0;
    }
    section.team-w3ls p.text-center,
    section.cust-agileits p.text-center,
    section.service-w3ls p.text-center,
    section.service-agileits p.text-center,
    section.work-w3ls p.text-center,
    section.shipment-w3ls p.text-center,
    section.transit-w3ls p.text-center,
    section.contact-us p.text-center,
    section.contact-w3ls p.text-center,
    section.special-w3layouts p.text-center {
        font-size: 14px;
        padding-bottom: 30px;
    }
    section.team-w3ls h4 {
        font-size: 15px;
    }
    section.team-w3ls p.team-p1 {
        font-size: 14px;
    }
    section.cust-agileits,
    section.service-agileits,
    section.work-w3ls,
    section.transit-w3ls,
    section.contact-w3ls {
        padding-bottom: 50px;
    }
    .marketing h4 {
        font-size: 20px;
        line-height: 40px;
        padding-bottom: 10px;
    }
    .marketing p.serv-p2 {
        font-size: 14px;
    }
    .featurette-divider {
        margin: 40px 0;
    }
    section.work-w3ls .nav-tabs > li:nth-child(1) {
        margin-left: 22em;
    }
    section.work-w3ls .nav-tabs > li > a {
        font-size: 15px;
    }
    section.work-w3ls .b-wrapper i.fa.fa-search-plus {
        font-size: 55px;
        padding-top: 40px;
    }
    section.transit-w3ls .table>thead>tr>th {
        font-size: 15px;
    }
    section.transit-w3ls .table>tbody>tr>td h4,
    section.transit-w3ls .table>tbody>tr>td {
        font-size: 15px;
        font-weight: 100;
    }
    section.contact-us p {
        font-size: 15px;
    }
    section.special-w3layouts img.img-responsive {
        width: 90px;
    }
    section.special-w3layouts h4.text-center {
        font-size: 19px;
    }
    section.special-w3layouts p.special-p1 {
        font-size: 14px;
    }
    section.footer-agileits p.p5 {
        margin: -91px 0 0px 41px;
    }
    section.footer-agileits p.p6 {
        margin: -38px 0 0 41px;
    }
    section.footer-agileits .contact-info {
        text-align: justify;
        margin-left: 13px;
        margin-top: -13px;
    }
    section.footer-agileits ul.info-links,
    section.footer-agileits ul.footer-links {
        margin-left: 40px;
    }
    section.footer-agileits button.btn-outline {
        font-size: 17px;
    }
}

@media (max-width: 1050px) {
    .header {
        height: 710px;
    }
    section.banner-w3ls h2.text-center {
        font-size: 55px;
        padding: 325px 0 30px;
    }
    ul.nav.navbar-nav.navbar-right {
        margin: 0 0 0 11px;
    }
}

@media (max-width:1024px) {
    ul.nav.navbar-nav.navbar-right {
        margin: 0 0 0 -80px;
    }
    .navbar .container {
        width: 100%;
    }
    ul.nav.navbar-nav.navbar-right {
        margin: 0px 0 0 30px;
    }
    section.service-w3ls p.serv-p1 {
        padding-bottom: 30px;
    }
    section.work-w3ls .nav-tabs > li:nth-child(1) {
        margin-left: 20em;
    }
    .header {
        height: 676px;
    }
    section.banner-w3ls h2.text-center {
        font-size: 50px;
        padding: 300px 0 20px;
    }
}


/*my changes */
@media (max-width:765px){
section.banner-w3ls h2.text-center {
    font-size: 31px !important;
    font-weight: normal;
    padding: 360px 0 40px;
    color: #fff;
    line-height: 52px !important;
    font-family: 'Exo 2', sans-serif;
}
}
@media (max-width:765px){
customer-heading{
    font-size: 20px !important;   
}
}

@media (max-width:765px){
section.work-w3ls .nav-tabs > li:nth-child(1) {
    margin-left: 22em !important;
}
}


@media (max-width:765px){
.clients-image {
    width: 192px !important;
    margin-left: 65px !important;
}
}

@media (max-width:765px){
section.about-w3ls h3.text-center:after, section.team-w3ls h3.text-center:after, section.cust-agileits h3.text-center:after, section.service-w3ls h3.text-center:after, section.service-agileits h3.text-center:after, section.work-w3ls h3.text-center:after, section.shipment-w3ls h3.text-center:after, section.transit-w3ls h3.text-center:after, section.contact-us h3.text-center:after, section.contact-w3ls h3.text-center:after {
    content: '';
    background-color: #33accc;
    height: 5px;
    width: 22% !important;
    position: absolute;
    left: 39% !important;
    bottom: 19%;
}
}

@media (max-width:765px) {
    section.about-w3ls h3.text-center,
    section.team-w3ls h3.text-center,
    section.cust-agileits h3.text-center,
    section.service-w3ls h3.text-center,
    section.service-agileits h3.text-center,
    section.work-w3ls h3.text-center,
    section.shipment-w3ls h3.text-center,
    section.transit-w3ls h3.text-center,
    section.contact-us h3.text-center,
    section.contact-w3ls h3.text-center {
        font-size: 27px !important;
        font-weight: normal;
        color: #000 !important;
        padding: 20px 0 60px;
        font-family: 'Exo 2', sans-serif;
        position: relative;
    }
}

@media (max-width:765px) {
    section.info-w3ls h3.text-center:after,
    section.info-w3ls2 h3.text-center:after,
    section.info-w3ls3 h3.text-center:after,
    section.special-w3layouts h3.text-center h3.title-wrapper:after {
        content: '';
        background-color: #33accc;
        height: 5px;
        width: 149px !important;
        position: absolute;
        left: 25% !important;
        bottom: 19%;
    }
}

@media (max-width:765px) {
    section.info-w3ls h3.text-center,
    section.info-w3ls2 h3.text-center,
    section.info-w3ls3 h3.text-center,
    section.special-w3layouts h3.text-center {
        font-size: 27px !important;
    }
}

@media (max-width:765px) {
    section.banner-w3ls2 h3.text-center,
    section.banner-w3ls3 h3.text-center {
        font-size: 27px !important;
        line-height: 50px !important;
    }
}

@media (max-width:765px) {
    section.info-w3ls h3.text-center,
    section.info-w3ls2 h3.text-center,
    section.info-w3ls3 h3.text-center,
    section.special-w3layouts h3.text-center section.banner-w3ls2 h3.text-center,
    section.banner-w3ls3 h3.text-center {
        font-size: 30px;
        line-height: 50px;
    }
    section.info-w3ls h3.text-center:after,
    section.info-w3ls2 h3.text-center:after,
    section.info-w3ls3 h3.text-center:after,
    section.special-w3layouts h3.text-center:after {
        content: '';
        background-color: #33accc;
        height: 5px;
        width: 230px;
        position: absolute;
        left: 12% !important;
        bottom: 19%;
    }
    section.banner-w3ls2,
    section.banner-w3ls3 {
        min-height: 500px;
        background-size: contain;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        -ms-background-size: contain;
    }
    section.banner-w3ls2 h3.text-center,
    section.banner-w3ls3 h3.text-center {
        padding-top: 180px;
        font-size: 40px;
    }
    .col-md-2.col-sm-4.col-xs-6.cust-w3ls {
        padding-bottom: 30px;
    }
    .col-md-5.serv-w3layouts,
    .col-md-5.col-md-pull-7 {
        margin-top: 30px;
    }
    section.work-w3ls .b-wrapper i.fa.fa-search-plus {
        padding-top: 111px;
    }
    section.work-w3ls .nav-tabs > li:nth-child(1) {
        margin-left: 20em;
    }
    section.shipment-w3ls .container:nth-child(2),
    section.transit-w3ls .container:nth-child(2) {
        width: 90%;
    }
    .content-w3ls {
        height: 370px;
    }
    .content2-header1 p {
        font-size: 14px;
    }
    .content2-header1 {
        width: 33%;
    }
    .privacy {
        padding: 40px 0;
    }
    .privacy1-grid ul li {
        display: inline;
    }
    .privacy1-grid ul li i {
        top: 3px;
    }
    .privacy1-grid,
    .privacy2-grid {
        margin: 2em 0 0;
    }
    section.special-w3layouts p.special-p1 {
        padding-bottom: 30px;
    }
    section.special-w3layouts {
        padding: 40px 0;
    }
    section.footer-agileits ul.info-links,
    section.footer-agileits ul.footer-links {
        margin-left: 0;
        margin-bottom: 35px;
    }
    section.footer-agileits .contact-info {
        margin-left: 0;
    }
    section.footer-agileits p.p5 {
        margin: -43px 0 0px 0px;
    }
    section.footer-agileits p.p6 {
        margin: -19px 0 0 41px;
    }
    .navbar-default .navbar-nav>li>a {
        padding: 18px 17px;
    }
    section.footer-agileits {
        text-align: left;
    }
    section.footer-agileits p.copyright {
        text-align: center;
    }
}

@media (max-width:900px) {
    ul.nav.navbar-nav.navbar-right {
        margin: 0px 0 0 20px;
    }
    .navbar-default .navbar-nav>li>a {
        padding: 15px 13px;
    }
    section.banner-w3ls h2.text-center {
        font-size: 50px;
        padding: 300px 0 15px;
    }
    section.info-w3ls,
    section.info-w3ls2,
    section.info-w3ls3 {
        padding: 50px 0;
    }
    section.banner-w3ls2,
    section.banner-w3ls3 {
        min-height: 400px;
    }
    section.banner-w3ls2 h3.text-center,
    section.banner-w3ls3 h3.text-center {
        padding-top: 150px;
    }
    section.shipment-w3ls .container:nth-child(2),
    section.transit-w3ls .container:nth-child(2) {
        width: 95%;
    }
    section.work-w3ls .nav-tabs > li:nth-child(1) {
        margin-left: 17em;
    }
    .delivery {
        width: 12%;
    }
}

@media (max-width:800px) {
    .navbar-default .navbar-nav>li>a {
        padding: 15px 8.9px;
    }
    ul.nav.navbar-nav.navbar-right {
        margin: 0px 0 0 0px;
    }
    section.about-w3ls h3.text-center,
    section.team-w3ls h3.text-center,
    section.cust-agileits h3.text-center,
    section.service-w3ls h3.text-center,
    section.service-agileits h3.text-center,
    section.work-w3ls h3.text-center,
    section.shipment-w3ls h3.text-center,
    section.transit-w3ls h3.text-center,
    section.contact-us h3.text-center,
    section.contact-w3ls h3.text-center,
    section.info-w3ls h3.text-center,
    section.info-w3ls2 h3.text-center,
    section.info-w3ls3 h3.text-center,
    section.special-w3layouts h3.text-center {
        font-size: 30px;
    }
    section.work-w3ls .nav-tabs > li:nth-child(1) {
        margin-left: 15em;
    }
    .imgcircle img {
        height: 22px;
        position: absolute;
        top: 32%;
        left: 32%;
    }
    .imgcircle {
        height: 60px;
        width: 60px;
    }
    .content2-header1:nth-child(2) p,
    .content2-header1:nth-child(3) p {
        margin-left: -3px;
    }
    .content3-w3ls p {
        font-size: 14px;
    }
    .delivery p {
        margin: 11px 0 0 -36px;
    }
    section.work-w3ls .nav-tabs > li:nth-child(1) {
        margin-left: 13em;
    }
    section.work-w3ls .b-wrapper i.fa.fa-search-plus {
        padding-top: 87px;
    }
    section.shipment-w3ls .container:nth-child(2),
    section.transit-w3ls .container:nth-child(2) {
        width: 97%;
    }
    span.line {
        top: 30%;
        left: 41%;
    }
    .content-w3ls {
        height: 297px;
    }
    section.transit-w3ls .table>tbody>tr>td img.img-responsive {
        width: 20px;
        height: auto;
        float: none;
    }
    section.transit-w3ls .table>tbody>tr>td h4 {
        float: none;
        text-align: left;
        margin: 0;
    }
}

@media (max-width:768px) {
    .navbar-default .navbar-nav>li>a {
        padding: 15px 7px;
    }
    section.inner-w3ls h2.text-center {
        font-size: 45px;
        padding: 195px 0 15px;
    }
    section.inner-w3ls p.text-center {
        font-size: 14px;
        line-height: 30px;
    }
    section.about-w3ls h3.text-center,
    section.team-w3ls h3.text-center,
    section.cust-agileits h3.text-center,
    section.service-w3ls h3.text-center,
    section.service-agileits h3.text-center,
    section.work-w3ls h3.text-center,
    section.shipment-w3ls h3.text-center,
    section.transit-w3ls h3.text-center,
    section.contact-us h3.text-center,
    section.contact-w3ls h3.text-center,
    section.info-w3ls h3.text-center,
    section.info-w3ls2 h3.text-center,
    section.info-w3ls3 h3.text-center,
    section.special-w3layouts h3.text-center {
        padding: 20px 0 45px;
    }
    section.banner-w3ls2,
    section.banner-w3ls3 {
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
    }
    section.cust-agileits,
    section.service-agileits,
    section.work-w3ls,
    section.transit-w3ls,
    section.contact-w3ls {
        padding-bottom: 30px;
    }
    section.work-w3ls .b-wrapper i.fa.fa-search-plus {
        padding-top: 80px;
    }
    span.line {
        width: 80px;
        left: 43%;
    }
    .colorful-tab-menu-item a {
        font-size: 16px;
    }
    section.contact-w3ls label.contact-p1 {
        font-size: 15px;
    }
    section.contact-w3ls input#name,
    section.contact-w3ls input#email,
    section.contact-w3ls input#phone,
    section.contact-w3ls input#subject {
        height: 40px;
    }
    section.contact-w3ls button.btn.btn-primary {
        padding: 8px 20px;
    }
    .privacy .privacy1 h3 {
        font-size: 20px;
    }
    .privacy1-grid ul li {
        font-size: 16px;
    }
    .privacy2-grid1 h4 {
        font-size: 16px;
    }
    .privacy2-grid1 h5 {
        font-size: 16px;
    }
    section.work-w3ls .nav-tabs > li:nth-child(1) {
        margin-left: 12em;
    }
    section.banner-w3ls h2.text-center {
        font-size: 45px;
        padding: 260px 0 15px;
    }
    .header {
        height: 600px;
    }
    .bgfader,
    .bgfader > .image {
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-attachment: initial;
    }
}

@media (max-width:767px) {
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: 0%;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #212121;
    }
    .navbar-default .navbar-toggle {
        border-color: #212121;
    }
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }
}

@media (max-width:736px) {
    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        max-height: 280px;
    }
    .navbar {
        min-height: 60px;
    }
    .navbar-brand {
        text-align: justify;
        padding: 12px 0px 0px 25px;
    }
    .navbar-brand h1 {
        font-size: 30px;
    }
    .navbar-toggle {
        margin-top: 13px;
        margin-right: 30px;
    }
    section.banner-w3ls h2.text-center {
        font-size: 40px;
        padding: 114px 0 0px;
    }
    section.banner-w3ls p.text-center {
        font-size: 14px;
        line-height: 30px;
    }
    section.banner-w3ls2,
    section.banner-w3ls3 {
        min-height: 293px;
    }
    section.banner-w3ls2 h3.text-center,
    section.banner-w3ls3 h3.text-center {
        padding-top: 105px;
    }
    ul.nav.navbar-nav.navbar-right {
        text-align: center;
        background: #E4E4E4;
    }
    section.inner-w3ls h2.text-center {
        font-size: 45px;
        padding: 110px 0 0;
    }
    section.inner-w3ls {
        min-height: 265px;
    }
    section.inner-w3ls p.text-center {
        display: none;
    }
    .colorful-tab-content.active {
        overflow: visible;
    }
    .dropdown-menu {
        width: 100%!important;
        text-align: center;
    }
    .dropdown-menu .track-w3ls input[type="text"] {
        width: 230px;
    }
    .dropdown-menu .track-w3ls button.btn.btn-primary {
        margin-top: 1px;
        padding: 7px 20px;
    }
    section.work-w3ls .nav-tabs > li:nth-child(1) {
        margin-left: 11em;
    }
    .content-w3ls {
        height: 1000px;
    }
    .imgcircle {
        height: 60px;
        margin: 0 auto;
        width: 60px;
    }
    .confirm,
    .process,
    .quality,
    .dispatch,
    .delivery {
        width: 100%;
        float: none;
        margin: 0 auto;
    }
    span.line {
        width: 5px;
        height: 70px;
        left: 49.5%;
        top: 106%;
    }
    .content3-w3ls p {
        margin: 15px 0 90px;
    }
    section.contact-us iframe.googlemaps {
        height: 200px;
    }
    .header {
        height: 350px;
    }
    section.special-w3layouts {
        padding: 30px 0;
    }
    section.footer-agileits ul.info-links,
    section.footer-agileits ul.footer-links {
        margin-left: 0px;
    }
    section.footer-agileits .contact-info {
        margin-bottom: 30px;
    }
    section.footer-agileits h3 {
        padding-bottom: 25px;
    }
    section.footer-agileits input#inputEmail1,
    section.footer-agileits input#text1 {
        width: 50%;
    }
    section.footer-agileits button.btn-outline {
        font-size: 17px;
        margin: 10px 0;
        padding: 5px 30px;
    }
    .bgfader,
    .bgfader > .image {
        background-position: bottom;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-attachment: fixed;
    }
}

@media (max-width: 667px) {
    section.inner-w3ls h2.text-center {
        font-size: 40px;
        padding: 110px 0 0;
    }
    section.work-w3ls .nav-tabs > li:nth-child(1) {
        margin-left: 9em;
    }
    section.work-w3ls .b-wrapper i.fa.fa-search-plus {
        padding-top: 65px;
    }
    .confirm {
        margin-top: 85px!important;
    }
    .content-w3ls {
        height: 1030px;
    }
    section.footer-agileits ul.info-links,
    section.footer-agileits ul.footer-links {
        margin-left: 0;
        margin-bottom: 25px;
    }
    section.footer-agileits .contact-info {
        margin-left: 0;
        margin-bottom: 30px;
    }
    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        max-height: 230px;
    }
}

@media (max-width: 640px) {
    section.info-w3ls i.fa,
    section.info-w3ls2 i.fa,
    section.info-w3ls3 i.fa,
    section.about-w3ls i.fa,
    section.team-w3ls i.fa,
    section.cust-agileits i.fa,
    section.service-w3ls i.fa,
    section.service-agileits i.fa,
    section.work-w3ls i.fa,
    section.shipment-w3ls i.fa,
    section.transit-w3ls i.fa,
    section.contact-us i.fa,
    section.contact-w3ls i.fa {
        width: 50px;
        height: 50px;
        font-size: 20px;
        line-height: 50px;
    }
    section.about-w3ls h3.text-center,
    section.team-w3ls h3.text-center,
    section.cust-agileits h3.text-center,
    section.service-w3ls h3.text-center,
    section.service-agileits h3.text-center,
    section.work-w3ls h3.text-center,
    section.shipment-w3ls h3.text-center,
    section.transit-w3ls h3.text-center,
    section.contact-us h3.text-center,
    section.contact-w3ls h3.text-center,
    section.info-w3ls h3.text-center,
    section.info-w3ls2 h3.text-center,
    section.info-w3ls3 h3.text-center,
    section.special-w3layouts h3.text-center {
        font-size: 25px;
    }
    section.banner-w3ls2 h3.text-center,
    section.banner-w3ls3 h3.text-center {
        font-size: 30px;
    }
    section.inner-w3ls h2.text-center {
        font-size: 35px;
        padding: 110px 0 0;
    }
    section.work-w3ls .nav-tabs > li:nth-child(1) {
        margin-left: 8em;
    }
    section.team-w3ls p.text-center,
    section.cust-agileits p.text-center,
    section.service-w3ls p.text-center,
    section.service-agileits p.text-center,
    section.work-w3ls p.text-center,
    section.shipment-w3ls p.text-center,
    section.transit-w3ls p.text-center,
    section.contact-us p.text-center,
    section.contact-w3ls p.text-center,
    section.special-w3layouts p.text-center {
        font-size: 14px;
        padding-bottom: 20px;
    }
    section.special-w3layouts h4.text-center {
        font-size: 19px;
        padding: 10px 0;
    }
    section.footer-agileits ul.info-links,
    section.footer-agileits ul.footer-links {
        margin-left: 0;
        margin-bottom: 20px;
    }
    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        max-height: 270px;
    }
    .colorful-tab-menu-item a {
        padding: 10px 37px;
    }
}

@media (max-width:600px) {
    section.about-w3ls,
    section.team-w3ls,
    section.cust-agileits,
    section.service-w3ls,
    section.service-agileits,
    section.work-w3ls,
    section.shipment-w3ls,
    section.transit-w3ls,
    section.contact-us,
    section.contact-w3ls {
        padding: 30px 0 0;
    }
    section.work-w3ls .nav-tabs > li:nth-child(1) {
        margin-left: 6em;
    }
    section.work-w3ls .b-wrapper i.fa.fa-search-plus {
        padding-top: 55px;
        font-size: 50px;
    }
    section.footer-agileits ul.info-links,
    section.footer-agileits ul.footer-links {
        margin-left: 0;
        margin-bottom: 20px;
    }
    section.footer-agileits .contact-info {
        margin-left: 0;
        margin-bottom: 30px;
    }
}

@media (max-width: 568px) {
    section.footer-agileits ul.info-links,
    section.footer-agileits ul.footer-links {
        margin-left: 180px;
        margin-bottom: 20px;
    }
    section.footer-agileits .contact-info {
        margin-left: 145px;
        margin-bottom: 30px;
    }
    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        max-height: 195px;
    }
}

@media (max-width: 480px) {
    section.banner-w3ls h2.text-center {
        font-size: 35px;
        padding: 110px 0 0px;
    }
    section.about-w3ls h3.text-center,
    section.team-w3ls h3.text-center,
    section.cust-agileits h3.text-center,
    section.service-w3ls h3.text-center,
    section.service-agileits h3.text-center,
    section.work-w3ls h3.text-center,
    section.shipment-w3ls h3.text-center,
    section.transit-w3ls h3.text-center,
    section.contact-us h3.text-center,
    section.contact-w3ls h3.text-center,
    section.info-w3ls h3.text-center,
    section.info-w3ls2 h3.text-center,
    section.info-w3ls3 h3.text-center,
    section.special-w3layouts h3.text-center {
        font-size: 20px;
    }
    .privacy1-grid ul li {
        font-size: 15px;
    }
    .privacy1-grid ul li span,
    .privacy2-grid1 p {
        font-size: 13px;
    }
    .privacy2-grid1 h4 {
        font-size: 15px;
    }
    .privacy2-grid1 h5 {
        font-size: 15px;
    }
    section.team-w3ls h4 {
        font-size: 15px;
        padding: 5px 0;
    }
    section.team-w3ls p.team-p1 {
        padding-bottom: 5px;
    }
    .ch-grid li:nth-child(2),
    .ch-grid li:nth-child(3),
    .ch-grid li:nth-child(4) {
        margin-top: 30px;
    }
    .marketing h4 {
        font-size: 18px;
        line-height: 35px;
    }
    .featurette-divider {
        margin: 30px 0 20px;
    }
    section.work-w3ls .b-wrapper i.fa.fa-search-plus {
        padding-top: 35px;
        font-size: 45px;
    }
    .content2-header1 {
        width: 100%;
        padding: 0.5em;
    }
    .content2-header1:nth-child(3) {
        margin-bottom: 30px;
    }
    .content3-w3ls {
        margin-top: 125px;
    }
    .content-w3ls {
        height: 1065px;
    }
    section.contact-us h4 {
        padding: 20px 0 10px;
    }
    section.contact-us p {
        font-size: 14px;
    }
    p.text-center {
        line-height: 30px;
    }
    section.contact-w3ls label.contact-p1 {
        font-size: 14px;
    }
    section.contact-w3ls button.btn.btn-primary {
        margin: 10px 0 25px;
    }
    section.service-agileits,
    section.work-w3ls {
        padding-bottom: 30px;
    }
    section.work-w3ls .nav-tabs > li:nth-child(1) {
        margin-left: 1em;
    }
    .dropdown-menu .track-w3ls input[type="text"] {
        width: 80%;
        margin: 0 auto 15px;
    }
    .dropdown-menu .track-w3ls button.btn.btn-primary {
        margin-top: 1px;
        padding: 6px 20px;
        font-size: 16px;
    }
    .dropdown-menu .login-w3ls input[type="text"],
    .dropdown-menu .login-w3ls input[type="password"] {
        width: 80%;
    }
    .dropdown-menu .login-w3ls input[type="submit"] {
        font-size: 16px;
        padding: 8px 20px;
    }
    .bgfader,
    .bgfader > .image {
        background-attachment: inherit;
        -webkit-background-size: cover;
        background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
    }
    section.footer-agileits ul.info-links,
    section.footer-agileits ul.footer-links {
        margin-left: 0;
        margin-bottom: 20px;
    }
    section.footer-agileits .contact-info {
        margin-left: 0;
        margin-bottom: 30px;
    }
    section.special-w3layouts h3.text-center {
        font-size: 23px;
    }
    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        max-height: 295px;
    }
    section.banner-w3ls3 h3.text-center {
        line-height: 50px;
    }
    section.footer-agileits input#inputEmail1,
    section.footer-agileits input#text1 {
        width: 100%;
    }
    .colorful-tab-menu-item a {
        padding: 13px 37px;
    }
}

@media (max-width: 414px) {
    section.about-w3ls h3.text-center,
    section.team-w3ls h3.text-center,
    section.cust-agileits h3.text-center,
    section.service-w3ls h3.text-center,
    section.service-agileits h3.text-center,
    section.work-w3ls h3.text-center,
    section.shipment-w3ls h3.text-center,
    section.transit-w3ls h3.text-center,
    section.contact-us h3.text-center,
    section.contact-w3ls h3.text-center,
    section.info-w3ls h3.text-center,
    section.info-w3ls2 h3.text-center,
    section.info-w3ls3 h3.text-center,
    section.special-w3layouts h3.text-center {
        font-size: 19px;
        padding: 15px 0 35px;
    }
    section.banner-w3ls2 h3.text-center,
    section.banner-w3ls3 h3.text-center {
        font-size: 27px;
        line-height: 40px;
    }
    section.banner-w3ls2,
    section.banner-w3ls3 {
        min-height: 245px;
    }
    section.info-w3ls,
    section.info-w3ls2,
    section.info-w3ls3 {
        padding: 30px 0;
    }
    .privacy2-grid1 h5 {
        line-height: 28px;
    }
    section.work-w3ls .nav-tabs > li > a {
        font-size: 15px;
        padding: 10px;
        margin-right: 0;
    }
    section.work-w3ls .nav-tabs > li:nth-child(1) {
        margin-left: 1em;
    }
    section.work-w3ls .b-wrapper i.fa.fa-search-plus {
        padding-top: 26px;
        font-size: 40px;
    }
    span.line {
        left: 49%;
    }
    .col-md-4.col-sm-4.col-xs-6.text-center {
        width: 100%;
    }
    section.inner-w3ls h2.text-center {
        font-size: 30px;
    }
    .privacy1-grid ul {
        padding: 0 1em 1em;
    }
    .privacy2-grid1 {
        padding: 0 1em;
    }
    .navbar-toggle {
        margin-right: 17px;
    }
    .navbar-brand {
        padding: 12px 0px 0px 15px;
    }
    .bgfader,
    .bgfader > .image {
        background-attachment: inherit;
        -webkit-background-size: cover;
        background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
    }
    section.footer-agileits ul.info-links,
    section.footer-agileits ul.footer-links {
        margin-left: 0;
        margin-bottom: 20px;
    }
    section.footer-agileits .contact-info {
        margin-left: 0;
        margin-bottom: 30px;
    }
    section.footer-agileits input#inputEmail1,
    section.footer-agileits input#text1 {
        width: 100%;
    }
    section.footer-agileits p.copyright {
        font-size: 14px;
    }
    section.special-w3layouts h3.text-center {
        font-size: 23px;
    }
}

@media (max-width: 384px) {
    section.banner-w3ls h2.text-center {
        font-size: 30px;
        padding: 110px 0 0px;
    }
    section.about-w3ls h3.text-center,
    section.team-w3ls h3.text-center,
    section.cust-agileits h3.text-center,
    section.service-w3ls h3.text-center,
    section.service-agileits h3.text-center,
    section.work-w3ls h3.text-center,
    section.shipment-w3ls h3.text-center,
    section.transit-w3ls h3.text-center,
    section.contact-us h3.text-center,
    section.contact-w3ls h3.text-center,
    section.info-w3ls h3.text-center,
    section.info-w3ls2 h3.text-center,
    section.info-w3ls3 h3.text-center,
    section.special-w3layouts h3.text-center {
        font-size: 19px;
        padding: 15px 0 35px;
        line-height: 35px;
    }
    section.banner-w3ls2 h3.text-center,
    section.banner-w3ls3 h3.text-center {
        font-size: 22px;
        line-height: 40px;
    }
    .col-md-2.col-sm-4.col-xs-6.cust-w3ls {
        padding-bottom: 30px;
        width: 100%;
    }
    section.service-w3ls h5 {
        font-size: 16px;
        padding: 20px 0 7px;
    }
    section.work-w3ls .nav-tabs > li > a {
        font-size: 14px;
        padding: 10px;
        margin-right: 0;
    }
    section.work-w3ls .b-wrapper i.fa.fa-search-plus {
        padding-top: 20px;
        font-size: 40px;
    }
    .content1-w3ls h2 {
        font-size: 17px;
    }
    .content3-w3ls p {
        margin: 5px 0 90px;
    }
    .content-w3ls {
        height: 1000px;
    }
    section.contact-us p {
        font-size: 14px;
        line-height: 30px;
        padding: 3px 0;
    }
    section.footer-agileits ul.info-links,
    section.footer-agileits ul.footer-links {
        margin-left: 0;
        margin-bottom: 20px;
    }
    section.footer-agileits .contact-info {
        margin-left: 0;
        margin-bottom: 30px;
    }
    section.footer-agileits input#inputEmail1,
    section.footer-agileits input#text1 {
        width: 100%;
    }
    section.special-w3layouts h3.text-center {
        font-size: 23px;
    }
    section.inner-w3ls h2.text-center {
        font-size: 29px;
    }
}

@media (max-width: 375px) {
    section.banner-w3ls h2.text-center {
        font-size: 30px;
        padding: 100px 0 0px;
    }
    section.inner-w3ls h2.text-center {
        font-size: 30px;
        padding: 110px 0 0;
    }
    section.work-w3ls .nav-tabs > li:nth-child(1) {
        margin-left: 5px;
    }
    .col-md-3.col-sm-6.col-xs-6.portfolio-grids {
        width: 100%;
    }
    section.work-w3ls .b-wrapper i.fa.fa-search-plus {
        padding-top: 75px;
        font-size: 50px;
    }
    section.work-w3ls .nav-tabs {
        margin: 0 0 25px;
    }
    .navbar-brand h1 {
        font-size: 27px;
    }
    .navbar-brand {
        padding: 15px 0px 0px 25px;
    }
    section.special-w3layouts h4.text-center {
        font-size: 18px;
        padding: 10px 0;
    }
}

@media (max-width: 320px) {
    .navbar-default .navbar-nav>li>a {
        padding: 10px 11px;
        font-size: 13px;
    }
    .navbar-brand h1 {
        font-size: 25px;
    }
    .navbar-toggle {
        margin-top: 13px;
        margin-right: 15px;
    }
    section.banner-w3ls h2.text-center {
        font-size: 25px;
        padding: 72px 0 0px;
        line-height: 60px;
    }
    section.banner-w3ls p.text-center {
        font-size: 13px;
        line-height: 27px;
    }
    section.about-w3ls h3.text-center,
    section.team-w3ls h3.text-center,
    section.cust-agileits h3.text-center,
    section.service-w3ls h3.text-center,
    section.service-agileits h3.text-center,
    section.work-w3ls h3.text-center,
    section.shipment-w3ls h3.text-center,
    section.transit-w3ls h3.text-center,
    section.contact-us h3.text-center,
    section.contact-w3ls h3.text-center,
    section.info-w3ls h3.text-center,
    section.info-w3ls2 h3.text-center,
    section.info-w3ls3 h3.text-center,
    section.special-w3layouts h3.text-center {
        font-size: 17px;
        padding: 15px 0 35px;
        line-height: 28px;
    }
    section.info-w3ls p.text-center,
    section.info-w3ls2 p.text-center,
    section.info-w3ls3 p.text-center {
        font-size: 13px;
    }
    section.banner-w3ls2 h3.text-center,
    section.banner-w3ls3 h3.text-center {
        font-size: 20px;
        line-height: 30px;
    }
    section.inner-w3ls h2.text-center {
        font-size: 23px;
        padding: 100px 0 0;
    }
    section.about-w3ls p {
        font-size: 13px;
        line-height: 28px;
    }
    section.team-w3ls p.text-center,
    section.cust-agileits p.text-center,
    section.service-w3ls p.text-center,
    section.service-agileits p.text-center,
    section.work-w3ls p.text-center,
    section.shipment-w3ls p.text-center,
    section.transit-w3ls p.text-center,
    section.contact-us p.text-center,
    section.contact-w3ls p.text-center,
    section.special-w3layouts p.text-center {
        font-size: 13px;
        padding-bottom: 20px;
        line-height: 28px;
    }
    section.team-w3ls h4 {
        font-size: 14px;
        padding: 5px 0;
    }
    section.team-w3ls p.team-p1 {
        font-size: 13px;
    }
    section.service-w3ls h5 {
        font-size: 15px;
        padding: 20px 0 7px;
    }
    section.service-w3ls p.serv-p1 {
        font-size: 13px;
        line-height: 28px;
    }
    .marketing h4 {
        font-size: 16px;
        line-height: 30px;
    }
    .marketing p.serv-p2 {
        font-size: 13px;
    }
    section.work-w3ls .nav-tabs > li > a {
        font-size: 13px;
        padding: 6px;
    }
    section.work-w3ls .b-wrapper i.fa.fa-search-plus {
        padding-top: 60px;
        font-size: 45px;
    }
    .content1-w3ls h2 {
        font-size: 14px;
    }
    .content2-header1 span {
        font-size: 14px;
        font-weight: 400;
    }
    section.transit-w3ls .table>tbody>tr>td h4,
    section.transit-w3ls .table>tbody>tr>td {
        font-size: 13px;
        font-weight: 100;
    }
    section.banner-w3ls2,
    section.banner-w3ls3 {
        background-attachment: inherit;
    }
    .dropdown-menu .track-w3ls h3 {
        font-size: 16px;
    }
    .dropdown-menu .track-w3ls input[type="text"],
    .dropdown-menu .login-w3ls input[type="text"],
    .dropdown-menu .login-w3ls input[type="password"] {
        font-size: 15px;
    }
    .dropdown-menu .track-w3ls p.track-p1 {
        font-size: 16px;
    }
    .dropdown-menu .track-w3ls p.track-p2 a {
        font-size: 14px;
    }
    .dropdown-menu .login-w3ls h3 {
        font-size: 16px;
    }
    .dropdown-menu .login-w3ls input[type="submit"] {
        font-size: 15px;
    }
    section.contact-w3ls label.contact-p1 {
        font-size: 13px;
    }
    section.contact-w3ls input#name,
    section.contact-w3ls input#email,
    section.contact-w3ls input#phone,
    section.contact-w3ls input#subject,
    section.contact-w3ls textarea#message {
        font-size: 13px;
    }
    section.contact-w3ls button.btn.btn-primary {
        font-size: 14px;
    }
    section.inner-w3ls {
        min-height: 230px;
    }
    .header {
        height: 265px;
    }
    section.special-w3layouts h3.text-center {
        font-size: 22px;
    }
    section.special-w3layouts h4.text-center {
        font-size: 17px;
        padding: 10px 0;
    }
    section.special-w3layouts p.special-p1 {
        font-size: 13px;
    }
    section.footer-agileits {
        padding: 35px 0;
    }
    section.footer-agileits ul.info-links li a {
        font-size: 13px;
    }
    section.footer-agileits h3 {
        padding-bottom: 20px;
        font-size: 21px;
    }
    section.footer-agileits ul.info-links,
    section.footer-agileits ul.footer-links {
        margin-left: 0;
        margin-bottom: 15px;
    }
    section.footer-agileits ul.info-links li {
        padding-bottom: 10px;
    }
    section.footer-agileits .contact-info {
        margin-left: 0;
        margin-bottom: 30px;
    }
    section.footer-agileits p.p3,
    section.footer-agileits p.p4,
    section.footer-agileits p.p5,
    section.footer-agileits p.p6 {
        font-size: 13px;
    }
    section.footer-agileits input#inputEmail1,
    section.footer-agileits input#text1 {
        width: 100%;
        font-size: 13px;
        height: 35px;
    }
    section.footer-agileits button.btn-outline {
        font-size: 16px;
        margin: 10px 0 5px;
        padding: 5px 71px;
    }
    .navbar-brand {
        padding: 15px 0px 0px 15px;
    }
}
.footer-links li a:hover{
    text-decoration: underline !important;
    color: red !important;
}
.info-links li a:hover{
    text-decoration: underline !important;
    color: red !important;
}
section.footer-agileits p.p4{
    display: flex !important;
    align-items: center !important;
    margin-top: -30px !important;
}

