body::-webkit-scrollbar-thumb {
  background-color: $primary;
 
}
.logo-img{
    height: 56px;
    margin-top: -6px;
}


/*-- 1st banner section --*/
section.banner-w3ls {
	position:relative;
}
.header { 
	height:926px;
	margin:0 auto;
	padding:0;
	}
.bgfader{
	position: absolute;
	z-index: -2;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	display: none;
}
.bgfader-overlay{
	z-index: -1;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.bgfader > .image{
	display: none;
}

.bgfader, .bgfader > .image{
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover !important;
	background-attachment:fixed;
    
   
}

     
     
    
    
section.banner-w3ls h2.text-center {
	font-size: 65px;
    font-weight: normal;
    padding:360px 0 40px;
    color: #fff;
	line-height:90px;
    font-family: 'Exo 2', sans-serif;
}
section.banner-w3ls p.text-center {
	font-size:17px;
	font-weight:normal;
	color:#fff;
	line-height:35px;
}
/*-- /1st banner section --*/

/*-- specialization section --*/
section.special-w3layouts {
	padding:100px 0;
}
section.special-w3layouts p.text-center  {
	font-size:16px;
	font-weight:normal;
	color:#999;
	line-height:30px;
	padding-bottom:50px;
}
section.special-w3layouts img.img-responsive {
	width:200px;
	height:auto;
	margin:0 auto;
}
section.special-w3layouts h4.text-center {
	font-size:22px;
	font-weight:normal;
	color:#000;
	padding:20px 0;
	text-transform:capitalize;
	font-family: 'Exo 2', sans-serif;
}
section.special-w3layouts p.special-p1 {
	font-size:15px;
	font-weight:normal;
	color:#999;
	text-align:center;
	line-height:30px;
}
/*-- /specialization section --*/
/*-- 1st info section --*/
section.info-w3ls,section.info-w3ls2,section.info-w3ls3 {
	padding:100px 0;
}

section.info-w3ls h3.text-center,section.info-w3ls2 h3.text-center,section.info-w3ls3 h3.text-center,section.special-w3layouts h3.text-center {
	font-size:50px;
	font-weight:normal;
	color:#000;
	padding:20px 0 60px;
	font-family: 'Exo 2', sans-serif;
	position:relative;
}
section.info-w3ls h3.text-center:after,section.info-w3ls2 h3.text-center:after,section.info-w3ls3 h3.text-center:after,section.special-w3layouts h3.text-center:after {
	content: '';
    background-color:$primary;
    height: 5px;
    width: 230px;
    position: absolute;
    left: 40%;
    bottom: 19%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}
section.info-w3ls p.text-center,section.info-w3ls2 p.text-center,section.info-w3ls3 p.text-center{
	font-size:17px;
	font-weight:normal;
	color:#000;
	line-height:30px;
}
/*-- /1st info section --*/
/*-- 2nd banner section --*/
section.banner-w3ls2 {
	background:url(../img/banner2.jpg);
	background-position:center;
	background-attachment:fixed;
	background-repeat:no repeat;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:650px;
}
section.banner-w3ls2 h3.text-center,section.banner-w3ls3 h3.text-center {
	font-size: 65px;
    font-weight: normal;
    padding:265px 0 40px;
    color: #fff;
	line-height:90px;
    font-family: 'Exo 2', sans-serif;
}

section.banner-w3ls3 {
	background:url(../img/bg-img2.jpg);
	background-position:center;
	background-attachment:fixed;
	background-repeat:no repeat;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:650px;
}

/*-- inner pages banner --*/
section.banner-w3ls {
	background:url(../img/banner1.jpg);
	background-position:center;
	background-attachment:fixed;
	background-repeat:no repeat;
	background-size:100% 100%;
	-webkit-background-size:100% 100%;
	-moz-background-size:100% 100%;
	-o-background-size:100% 100%;
	-ms-background-size:100% 100%;
	min-height:450px;
}
section.inner-w3ls h2.text-center {
	font-size: 65px;
    font-weight: normal;
    padding:175px 0 40px;
    color: #fff;
	line-height:90px;
    font-family: 'Exo 2', sans-serif;
}
section.inner-w3ls p.text-center {
	font-size:17px;
	font-weight:normal;
	color:#fff;
	line-height:35px;
}
.column {
	margin:0;
	padding:0;
}
.column:last-child {
	padding-bottom:0px;
}
.column::after {
	content: '';
	clear: both;
	display: block;
}
.column div {
	position: relative;
	float: left;
	width:100%;
	height:auto;
	margin: 0;
	padding: 0;
}
.column div:first-child {
	margin-left: 0;
}
figure {
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
.hover01 figure img {
	width:100%;
	height:auto;
	-webkit-transform: scale(1);
	transform: scale(1);
	-moz-transform:scale(1);
	-o-transform:scale(1);
	-ms-transform:scale(1);
	-webkit-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
/*-- /inner pages banner --*/


.table-main {
    tr:nth-child(even) {
    background-color: #f2f2f2;
}
    
    th, td {
  text-align: left;
  padding: 16px;
}

}

.table-main-row:hover{
    background-color: #33accc !important;
    color: white;
}

.slide-menu    {
    text-align: center;
    z-index: 1000;
    min-width: 160px;
    padding: 10px;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px 0 0 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    display: flex;
    justify-content: center;
    input {
            border: 1px solid black;
            width: 80%;
    margin: 0 auto;
        text-align: center;
    }
    
}   
.quick-track-img {
    cursor: pointer;
}
.quick-track {
    padding: 5px 0px;
    position: fixed;
    background-color: #2CA2C5;
    z-index: 1000000000;
    display: flex;
    border-radius: 10px 0 0 10px;
    top: 22%;
    right: -246px;
    
    transition: 1s;
    img {
        margin: 10px;
    }
}

.qtrack-title1 {
    margin: 10px auto;
    font-weight: bold;
    font-family: roboto;
}

.qtrack-title2 {
    margin: 10px auto;
    font-family: roboto;
}

.btn-primary {
        background-color: #2CA2C5;
    border-color: #2CA2C5;
        width: 100px;
    margin: 10px auto;
}




