/*-- service page --*/

section.service-w3ls p.text-center {
    font-size: 16px;
    font-weight: normal;
    color: #999;
    line-height: 30px;
    padding-bottom: 50px;
}

section.service-w3ls h5 {
    font-size: 18px;
    font-weight: normal;
    color: #000;
    padding: 0 0 20px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
}

section.service-w3ls p.serv-p1 {
    font-size: 14px;
    font-weight: normal;
    line-height: 30px;
    color: #999;
    padding-bottom: 10px;
    text-align: center;
}

.ch-grid {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}

.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}

.ch-grid:after {
    clear: both;
}

.ch-grid li {
    width: 220px;
    height: 220px;
    display: inline-block;
    margin: 0 20px 20px;
}

.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: default;
}

.ch-info-wrap,
.ch-info {
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    -ms-perspective: 800px;
    perspective: 800px;
}

.ch-info-wrap {
    top: 20px;
    left: 20px;
    background: #f9f9f9 url(../images/bg.jpg);
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), inset 0 0 3px rgba(115, 114, 23, 0.8);
}

.ch-info {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.ch-info > div {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-position: center center;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.ch-info .ch-info-front {
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    z-index: 100;
    box-shadow: inset 2px 1px 4px rgba(0, 0, 0, 0.1);
}

.ch-info .ch-info-back {
    background: rgba(230, 132, 107, 0);
}

.ch-img-1 {
    background-image: url(../img/door.jpg);
}

.ch-img-2 {
    background-image: url(../img/food.jpeg);
    background-position: center;
}

.ch-img-3 {
    background-image: url(../img/serv-img2.jpg);
}

.ch-img-4 {
    background-image: url(../img/serv-img4.jpg);
}

.ch-info h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    margin: 0 25px;
    padding: 40px 0 0 0;
    height: 90px;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0, 0, 0, 0.3);
}

.ch-info p {
    color: #fff;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.ch-info p a {
    display: block;
    color: #fff;
    color: rgba(255, 255, 255, 0.7);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    padding-top: 4px;
    font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
    color: #fff222;
    color: rgba(255, 242, 34, 0.8);
}

.ch-item:hover .ch-info-front {
    -webkit-transform: rotate3d(1, 0, 0, -180deg);
    -moz-transform: rotate3d(1, 0, 0, -180deg);
    -o-transform: rotate3d(1, 0, 0, -180deg);
    -ms-transform: rotate3d(1, 0, 0, -180deg);
    transform: rotate3d(1, 0, 0, -180deg);
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.2), inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.ch-item:hover .ch-info-back {
    background: rgba(230, 132, 107, 0.6);
}

section.service-agileits p.text-center {
    font-size: 16px;
    font-weight: normal;
    color: #999;
    line-height: 30px;
    padding-bottom: 50px;
}

.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing h4 {
    font-weight: normal;
    font-size: 25px;
    text-transform: capitalize;
    line-height: 45px;
    color: #42B4C8;
    padding-bottom: 20px;
    font-family: 'Exo 2', sans-serif;
}

.marketing p.serv-p2 {
    font-size: 16px;
    font-weight: normal;
    color: #999;
    line-height: 30px;
}

.featurette-divider {
    margin: 80px 0;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}


/*HEADER*/

.header-wrapper {
    position: relative;
    width: 100%;
    .service-title-wrapper {
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        line-height: 70px;
        width: 100%;
        transform: translate(-50%, -50%);
        .service-title {
            font-size: 44px;
            color: #fff;
            font-family: 'Exo 2', sans-serif;
        }
        .sub-title-service {
            color: #fff;
            font-family: 'Exo 2', sans-serif;
            font-size: 17px;
            font-weight: normal;
            color: #fff;
        }
    }
}

@media (max-width: 576px) {
    .header-wrapper .service-title-wrapper {
        top: 72% !important;
    }
    .header-wrapper .service-title-wrapper .service-title {
        font-size: 18px !important;
    }
    .header-wrapper .service-title-wrapper .sub-title-service {
        font-size: 12px !important;
        line-height: 3 !important;
    }
}


/*-- /service page --*/


/*Modal style*/

.modal-header .close {
//    margin-top: -17px;
}

.modal-title {
    border: 1px solid gray;
    .tracking-header {
        background-color: rgba(208, 211, 212, 0.6705882352941176);
        color: black;
        font-size: 18px;
        font-weight: 600;
        padding: 5px;
        margin-bottom: 8px !important;
    }
    .bill-wrapper {
        width: 107px;
        display: inline-block;
    }
    .details-wrapper {
        color: #2d2b2b;
        margin-left: 8px;
        .bill-text {
            font-size: 15px;
        }
        .from-text {
            font-size: 15px;
        }
        .to-text {
            font-size: 15px;
        }
        .item-no {
            font-size: 15px;
        }
    }
}
.service-w3ls{
    margin-top: 3% !important;
}