.table-wrapper {
    border-radius: 0 0 10px 10px;
    width: 60%;
    margin: auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
    background: #ffffff;
    margin-bottom: 30px;

    .track-title {
        font-size: 10px;
    }
}

.header-wrapper {
    padding-top: 90px;
    padding-bottom: 20px;
    background-image: url(../img/tracking-bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.service-title {
    text-align: center;
    margin-bottom: 30px;
    color: white;
    font-weight: bold;
}

.tracking-wrapper {
    padding-bottom: 50px;
}

/* Create four equal columns that floats next to each other */
.column {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #D6CDCD;
    text-transform: capitalize;
    padding-left: 20px;

    .label-text {
        width: 50%;
        font-style: normal;
        font-weight: bold;
        line-height: 50px;
        font-size: .8em;
        text-align: left;
    }

    .value-text {
        width: 50%;
        font-style: normal;
        font-weight: normal;
        line-height: 50px;
        font-size: .8em;
        color: #000000;
        text-align: left;
    }

}

.fedex-img {
    width: 20%;
    padding: 15px 5px;


}

.forwarding-no {
    color: #448981;
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
}

.bill-details {
    background: #2CA2C5;
    text-align: center;
    color: #FFFFFF;
    width: 60%;
    height: 100px;
    margin: auto;
    padding-top: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .bill-no-text {
        font-weight: 600;
        font-size: 18px;
        height: 35px;

    }

    .bill-no {
        letter-spacing: 0.04em;
        font-size: 32px;
        font-weight: 600;
    }
}


.logo-details {

    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;

}


.table {
    display: flex;

}

.table-1 {
    width: 100%;
    border-right: 1px solid #D6CDCD;
}

.table-2 {
    width: 100%;
}





.forward-text {
    font-style: normal;
    font-weight: bold;
    line-height: 50px;
    font-size: 20px;
}

.enter-tracking {
        background-color: #ffffff;
    width: 35%;
    margin: 20px auto;
    border-radius: 4px 4px 7px 7px;
    
    
    textarea {
        width: 96%;
        margin: 0 auto;
        display: block;
        font-size: 24px;
        text-align: center;
        vertical-align: middle;
        height: 200px;
        line-height: 200px;
        overflow: hidden;
        font-family: roboto thin;
        
    }
}

.track-btn {
    background-color: #2CA2C5;
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 7px 7px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    span {
    font-size: 1.5em;
    font-family: roboto;
    }
        
}

.enter-tracking-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    span {
        font-weight: bold;
            font-size: 1.2em;
            font-family: roboto;
        
    }
}

.enter-tracking-inner {
    background-color: white;
    border-radius: 4px;
}

@media only screen and (max-width: 768px) {
    .table {
        flex-direction: column;
        margin-bottom: 0px;

    }
    
    .enter-tracking {
        width: 100%;
    }

    .column {
        align-items: center;

        .label-text {
            line-height: 20px;
            min-height: 50px;
            display: flex;
            align-items: center;
        }

        .value-text {

            line-height: 30px;
        }
    }

    .bill-details {
        width: 100%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .table-wrapper {
        width: 100%;
        border-radius: 0px;
    }

    .logo-details {
        margin-top: 10px;
        flex-direction: column;
    }


    .fedex-img {
        padding: 0px;
    }

    .forward-text {
        font-size: 14px;
        line-height: 30px;

        span {
            font-size: 14px;
        }
    }

    .service-title {
        font-size: 18px;
    }



}
