/*-- tracking cart section --*/
section.shipment-w3ls p.text-center {
	font-size:16px;
	font-weight:normal;
	color:#999;
	line-height:30px;
	padding-bottom:50px;
}
.content-w3ls {
	width:100%;
	margin:0 auto;
	height:460px;
	background-color:#F5F5F5;
}
.content1-w3ls {
	background-color:$primary;
	text-align:center;
	padding:1.7em;
}
.content1-w3ls h2 {
	font-family: 'Exo 2', sans-serif;
	text-transform:uppercase;
	margin:0;
	color:#fff;
	font-size:20px;
	font-weight:bold;
}
.content2-w3ls {
	background-color:#b5e6ae;
}
.content2-header1 {
	float:left;
	width:27%;
	text-align:center;
	padding:1.5em;
}
.content2-header1 p {
	font-family: 'Open Sans', sans-serif;
	font-size:17px;
	font-weight:700;
	color:#33accc;
	margin:0;
}
.content2-header1 span {
	font-size:15px;
	font-weight:400;
}
.shipment {
	width:100%;
	margin:10% auto;
}
span.line {
    height: 5px;
    width: 90px;
    background-color:#F5998E;
    display: block;
    position: absolute;
    top: 35%;
    left: 45%;
}
.confirm{
	text-align:center;
	width:20%;
	position:relative;
	float:left;
	margin-left:5%;
}
.confirm .imgcircle , .process .imgcircle, .quality .imgcircle {
	background-color:$primary;
}
.confirm span.line, .process span.line {
	background-color:$primary;
}
.content3-w3ls p {
	font-size:15px;
	font-weight:600;
	margin: 8% 0 0 -50%;
} 
.imgcircle {
	height:75px;
	width:75px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	background-color:#F5998E;
	position:relative;
}
.imgcircle img {
	height:30px;
	position:absolute;
	top: 28%;
	left: 30%;
}
.process{
	position:relative;
	width:20%;
	text-align:center;
	float:left;
}
.quality {
	position:relative;
	width:20%;
	text-align:center;
	float:left;
}
.dispatch{
	position:relative;
	width:20%;
	text-align:center;
	float:left;
}
.delivery {
    position: relative;
    width: 15%;
    text-align: center;
    float: right;
    margin-right: 0;
}
/*-- /tracking cart section --*/
/*-- transit section --*/
section.transit-w3ls p.text-center {
	font-size:16px;
	font-weight:normal;
	color:#999;
	line-height:30px;
	padding-bottom:50px;
}
section.transit-w3ls .table>tbody>tr>td,section.transit-w3ls .table>tbody>tr>th,section.transit-w3ls .table>tfoot>tr>td,section.transit-w3ls .table>tfoot>tr>th,section.transit-w3ls .table>thead>tr>td,section.transit-w3ls .table>thead>tr>th {
	padding: 10px;
}
section.transit-w3ls .table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    color: #fff;
	font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}
section.transit-w3ls .table>tbody>tr>td {
	font-size:17px;
	font-weight:normal;
	color:#fff;
	line-height:65px;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
}
section.transit-w3ls .table>tbody>tr>td img.img-responsive {
	width:70px;
	height:auto;
	float:left;
}
section.transit-w3ls .table>tbody>tr>td h4 {
	float: left;
    font-size: 18px;
    line-height: 25px;
    margin: 20px 0 0 11px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
/*-- /transit section --*/


/*-- Iframe design --*/

.slider-wrapper {
    
    .tracking-header {
    background-color: grey !important;
    color: white !important;
    text-align: center !important;
    }
    
    .details-wrapper {
    border-right: 1px solid grey !important;
    border-left: 1px solid grey !important;
    font-size: 0.9em !important;
    padding: 5px !important;
    background-color: white !important;
    }
    

    }

//
//.goto-btn {
//        background-color: #e8e8e1;
//        width: 200px;
//        text-align: center;
//        padding: 5px;
//        display: block;
//        margin: 20px auto;
//        border-radius: 5px;
//        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
//        }


  


