.work-gal-clear {
    clear: both;
}
.logo-img {
    height: 56px;
    margin-top: -6px;
}


/*-- Our work page --*/


/*-- works section --*/

section.work-w3ls p.text-center {
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 40px;
    line-height: 35px;
    color: #999;
}

section.work-w3ls .portfolio-grids {
    padding: 0;
}


/******** SAP ************/

section.work-w3ls .sap_tabs {
    clear: both;
    padding: 0;
}

section.work-w3ls .tab_box {
    background: #fd926d;
    padding: 2em;
}

section.work-w3ls .top1 {
    margin-top: 2%;
}

section.work-w3ls .resp-tabs-list {
    list-style: none;
    padding: 4em 0 3em;
    margin: 0 auto;
    text-align: center;
}

section.work-w3ls .resp-tab-item {
    color: #333;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    text-align: center;
    list-style: none;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-transform: uppercase;
    margin: 0 1.5em 0;
}

section.work-w3ls .resp-tab-active {
    text-shadow: none;
    color: #fc4f6b;
    border-bottom: 2px solid;
}

section.work-w3ls .resp-tabs-container {
    padding: 0px;
    clear: left;
}

section.work-w3ls h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

section.work-w3ls .resp-tab-content {
    display: none;
}

section.work-w3ls .resp-content-active,
section.work .resp-accordion-active {
    display: block;
}

section.work-w3ls .portfolio-grids a {
    display: block;
    overflow: hidden;
    position: relative;
}

section.work-w3ls .portfolio-grids img.img-responsive {
    width: 100%;
}

section.work-w3ls .b-wrapper {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 2em;
    transition: .5s all;
    text-align: center;
    opacity: 0.01;
}

section.work-w3ls .portfolio-grids a:hover .b-wrapper {
    top: 0%;
    opacity: 1;
}

section.work-w3ls .b-wrapper i.fa.fa-search-plus {
    color: #fff;
    font-size: 70px;
    padding-top: 90px;
    width: initial;
    background: none;
    height: initial;
    line-height: normal;
}

section.work-w3ls .gallery-grids {
    margin: 0;
}

section.work-w3ls .nav-tabs > li.active > a,
section.work-w3ls .nav-tabs > li.active > a:hover,
section.work-w3ls .nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: pointer;
    background-color: $primary;
    border: none;
    border-bottom-color: transparent;
}

section.work-w3ls .nav-tabs > li > a {
    margin-right: 3px;
    border-radius: 0;
    font-size: 17px;
    color: #000000;
    border: none;
    font-weight: normal;
}

section.work-w3ls .nav-tabs {
    border-bottom: none;
    margin: 0 0 40px;
}

section.work-w3ls .nav-tabs > li {
    margin-bottom: 0;
}

section.work-w3ls .nav-tabs > li:nth-child(1) {
    
}

section.work-w3ls .nav-tabs > li > a:hover {
    border: none;
}

section.work-w3ls .nav > li > a:hover,
section.work-w3ls .nav > li > a:focus {
    background-color: $primary;
    color: #fff;
}


/*-- /work section --*/


/*-- /work page --*/


/*HEADER*/

.header-wrapper {
    position: relative;
    width: 100%;
    .work-title-wrapper {
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        line-height: 70px;
        width: 100%;
        transform: translate(-50%, -50%);
        .work-title {
            font-size: 44px;
            color: #fff;
            font-family: 'Exo 2', sans-serif;
        }
        .work-sub-title{
            color: #fff;
            font-family: 'Exo 2', sans-serif;
            font-size: 17px;
            font-weight: normal;
            color: #fff;
        }
    }
}

@media (max-width: 576px) {
    .header-wrapper .work-title-wrapper{
        top:72% !important;
        
    }
    .header-wrapper .work-title-wrapper .work-title{
        font-size: 18px !important;
    }
    .header-wrapper .work-title-wrapper .work-sub-title{
        font-size: 12px !important;
        line-height: 3 !important;
    }
}
.work-w3ls{
    margin-top: 3% !important;
}