/*$flags: 'AUS',
'KSA',
'SWI';
.flag-image-bg {
    background-image: url("");
    width: 35px;
    height: 20px;
    background-size: 3200%;
    display: inline-block;
    margin-right: 4px;
}

$position: 0px;
@each $flag in $flags {
    .#{$flag} {
        background-position: $position auto;
    }
    $position: $position - 35px;
}*/