/*-- footer info section --*/
section.footer-agileits {
    padding: 50px 0;
    background-color: #212121;
	text-align:center;
    text-align: -webkit-center;
	text-align:-moz-center;
}
section.footer-agileits h3 {
    color: #fff;
    font-size:25px;
    font-weight: normal;
    font-family: 'Exo 2', sans-serif;
    padding-bottom: 35px;
}
section.footer-agileits ul.info-links {
    list-style: none;
    text-align: justify;
	margin-left:70px;
}
section.footer-agileits ul.info-links li {
	padding-bottom:15px;
}
section.footer-agileits ul.info-links li a {
	text-decoration:none;
	font-size:14px;
	font-weight:normal;
	color:#fff;
}
section.footer-agileits ul.info-links li a i.fa {
	margin-right:5px;
}
section.footer-agileits ul.footer-links {
    list-style: none;
    text-align: justify;
	margin-left:70px;
}
section.footer-agileits ul.footer-links li {
	padding-bottom:15px;
}
section.footer-agileits ul.footer-links li a {
	text-decoration:none;
	font-size:14px;
	font-weight:normal;
	color:#fff;
}
section.footer-agileits ul.footer-links li a i.fa {
	margin-right:5px;
}
section.footer-agileits .contact-info {
	text-align: justify;
    margin-left: 35px;
	margin-top: -13px;
}
section.footer-agileits .contact-info i{
	color: #fff;
    font-size: 22px;
    margin: 25px 15px 10px 0px;
    display: inline-block;
}
section.footer-agileits p.p3{
	padding: 0;
    display: inline-block;
    color: #fff;
    vertical-align: middle;
    margin: -40px 0 0px;
    font-size: 14px;
    font-weight: 500;
}
section.footer-agileits p.p4 {
	padding: 0;
    display: block;
    color: #fff;
    vertical-align: middle;
    font-weight: 500;
    font-size: 14px;
    margin: -19px 0 0 41px;
}
section.footer-agileits p.p5{
	padding: 0;
    display: inline-block;
    color: #fff;
    vertical-align: middle;
    margin: -40px 0 0px;
    font-size: 14px;
    font-weight: 500;
}
section.footer-agileits p.pl{
	padding: 5px;
    margin-left: 34px;
    display: inline-block;
    color: #fff;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 500;
}
section.footer-agileits p.pt{
	padding: 5px;
    margin-left: 34px;
    display: inline-block;
    color: #fff;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 500;
}
section.footer-agileits p.p6 {
	padding: 0;
    display: block;
    color: #fff;
    vertical-align: middle;
    font-weight: 500;
    font-size: 14px;
    margin: -19px 0 0 41px;
}
section.footer-agileits p.p5 a , p.p6 a {
	text-decoration:none;
	color:#fff;
}
section.footer-agileits i.glyphicon.glyphicon-envelope:hover ,p.p3 a:hover , p.p4 a:hover {
	color:#df4914;
}
section.footer-agileits .address,section.footer-agileits .phone {
    margin-bottom: 5px;
}
section.footer-agileits button.btn-outline {
    border: solid 2px #fff;
    font-size: 18px;
    padding: 5px 10px;
    color: #fff;
    background: 0 0;
	font-family: 'Exo 2', sans-serif;
    transition: all .3s ease-in-out;
}
section.footer-agileits button.btn-outline:hover,
section.footer-agileits button.btn-outline:focus,
section.footer-agileits button.btn-outline:active {
    border: solid 2px #fff;
    color: #18bc9c;
    background: #fff;
}
section.footer-agileits input#inputEmail1 {
    width: 95%;
    height: 40px;
    color: $tertiary; 
	font-size:15px;
	font-weight:normal;
    padding: 0 10px;
	margin-bottom:15px;
	outline:none;
}
section.footer-agileits input#text1 {
	width: 95%;
    height: 40px;
    color: $tertiary; 
	font-size:15px;
	font-weight:normal;
    padding: 0 10px;
	margin-bottom:15px;
	outline:none;
}
section.footer-agileits input::-webkit-input-placeholder {
color: $tertiary !important;
} 
section.footer-agileits input:-moz-placeholder { /* Firefox 18- */
color: $tertiary  !important;  
}
section.footer-agileits input::-moz-placeholder {  /* Firefox 19+ */
color: $tertiary  !important;  
}
section.footer-agileits input:-ms-input-placeholder {  
color: $tertiary !important;  
}
section.footer-agileits textarea::-webkit-input-placeholder {
color: $tertiary  !important;
}
section.footer-agileits textarea::-moz-placeholder { /* Firefox 18- */
color: $tertiary  !important;  
}
section.footer-agileits textarea::-moz-placeholder {  /* Firefox 19+ */
color: $tertiary  !important;  
}
section.footer-agileits textarea::-ms-input-placeholder {  
color: $tertiary  !important;  
}
section.footer-agileits ul.social-icons2 {
	list-style:none;
	padding-bottom:10px;
}
section.footer-agileits ul.social-icons2 li {
	display:inline-block;
	margin-right: 3px;
}
section.footer-agileits ul.social-icons2 li a i.fa.fa-facebook {
	background-color:#3b5998;
	width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	font-size:20px;
	color:#fff;
	text-align: center;
 	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
section.footer-agileits ul.social-icons2 li a i.fa.fa-twitter {
	background-color:#55acee;
	width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	font-size:17px;
	color:#fff;
	text-align: center;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
section.footer-agileits ul.social-icons2 li a i.fa.fa-linkedin {
	background-color:#e68523;
	width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	font-size:19px;
	color:#fff;
	text-align: center;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
section.footer-agileits ul.social-icons2 li a i.fa.fa-google-plus {
	background-color:#dc4e41;
	width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	font-size:16px;
	color:#fff;
	text-align: center;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
section.footer-agileits ul.social-icons2 li a i.fa.fa-facebook:hover {
	background-color:#002573;
}
section.footer-agileits ul.social-icons2 li a i.fa.fa-twitter:hover {
	background-color:#004A82;
}
section.footer-agileits ul.social-icons2 li a i.fa.fa-linkedin:hover { 
	background-color:#BB5E00;
}
section.footer-agileits ul.social-icons2 li a i.fa.fa-google-plus:hover { 
	background-color:#8A0B00;
}
section.footer-agileits p.copyright {
	font-size:15px;
	font-weight:300;
	color:#fff;
	font-family: 'Exo 2', sans-serif;
	padding:0px 20px 0;
	line-height:30px;
}
section.footer-agileits p.copyright a {
	text-decoration:none;
	color:#33ACCC;
}
section.footer-agileits p.copyright a:hover {
	color:red;
}
/*-- /footer info section --*/

/*-- back to top --*/
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(0,0,0, 0.5) url(../img/cd-top-arrow.svg) no-repeat center 50%;
      background-size: 40px;
	  -webkit-background-size:40px;
	  -moz-background-size:40px;
	  -o-background-size:40px;
	  -ms-background-size:40px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
    z-index: 9999;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.cd-top:hover {
  background-color: $tertiary;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 50px;
    width: 50px;
    right: 30px;
    bottom: 30px;
  }
}
/*-- /back to top --*/