/*-- /navigation effects --*/
body{
	padding:0;
	margin:0;
	background:#FFF;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;	
	padding:0;
}	
p{
	margin:0;
	padding:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
button{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
img {
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
/*-- /reset code --*/
body {
	font-family: 'Open Sans', sans-serif;
}
/*-- navigation effects --*/
.navbar {
	min-height:57px;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 8px 0px;
    font-size: 18px;
    line-height: 20px;
	display:block;
}
.navbar-brand h1 {
	font-size: 32px;
    font-weight: 400;
    color: $tertiary;
	text-transform:capitalize;
	font-family: 'Exo 2', sans-serif;
}
.navbar-brand h1 span {
	font-size:30px;
	color:#42B4C8;
	line-height:20px;
	margin-right:5px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color:$primary;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color:$primary;
}
.navbar-default .navbar-nav>li>a {
    color: #777;
	font-size:14px;
	font-weight:normal;
	font-family: 'Exo 2', sans-serif;
	padding:18px 18px;
	text-transform:uppercase;
	transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
}
.navbar-default .navbar-nav>li.active {
	background-color:$primary;
}
.dropdown-menu {
	width:280px;
	text-align:center;
}
.dropdown-menu .track-w3ls h3 {
    font-size: 20px;
    padding: 20px 0;
    font-weight:500;
    color: $tertiary;
	font-family: 'Exo 2', sans-serif;
}
.dropdown-menu .track-w3ls input[type="text"] {
    border: 1px solid #000;
    color: $tertiary;
    height: 40px;
	padding: 0 15px;
    width: 200px;
    margin: 0 auto;
    text-align: center;
	outline:none;
}
.dropdown-menu input::-webkit-input-placeholder {
color: $tertiary !important;
} 
.dropdown-menu input:-moz-placeholder { /* Firefox 18- */
color: $tertiary !important;  
}
.dropdown-menu input::-moz-placeholder {  /* Firefox 19+ */
color: $tertiary!important;  
}
.dropdown-menu input:-ms-input-placeholder {  
color: $tertiary !important;  
}
.dropdown-menu .track-w3ls button.btn.btn-primary {
	margin-top:20px;
	font-size:17px;
	font-weight:normal;
	color:#fff;
	padding:10px 20px;
	border-radius:0;
	font-family: 'Exo 2', sans-serif;
	background-color:$primary;
}
.dropdown-menu .track-w3ls p.track-p1 {
	font-size:17px;
	font-weight:500;
	color:#000;
	text-transform:capitalize;
	padding:20px 0 10px;
	font-family: 'Exo 2', sans-serif;
}
.dropdown-menu .track-w3ls p.track-p2 {
	padding-bottom:20px;
}
.dropdown-menu .track-w3ls p.track-p2 a {
	font-size:15px;
	font-weight:normal;
	color:#999;
	text-decoration:none;
}
.dropdown-menu .login-w3ls h3 {
    font-size: 20px;
    padding: 20px 0;
    font-weight:500;
    color: #000;
	font-family: 'Exo 2', sans-serif;
}
.dropdown-menu .login-w3ls input[type="text"] {
    border: 1px solid #000;
    color: #000;
    height: 40px;
    width: 200px;
	padding: 0 15px;
	margin:0 auto 20px;
    text-align: center;
	outline:none;
}
.dropdown-menu .login-w3ls input[type="password"] {
	border: 1px solid #000;
    color: $tertiary;
    height: 40px;
    width: 200px;
	padding: 0 15px;
	margin: 0 auto;
    text-align: center;
	outline:none;
}
.dropdown-menu .login-w3ls input[type="submit"] {
	margin-top:20px;
	font-size:17px;
	font-weight:normal;
	color:#fff;
	border:none;
	padding:10px 20px;
	border-radius:0;
	background-color:$primary;
	margin-bottom:20px;	
	font-family: 'Exo 2', sans-serif;
} 
/*my dropdown*/

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
   
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
     &:hover{
       background-color: #33accc; 
    }
}

.dropdown-content a:hover {
    background-color:#ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}