
<div class="container">
    <div class="navbar-header"><button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="index.html"><img src="img/flybird_logo.png" class="logo-img"></a></div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li id="index"><a href="index.html">Home</a></li>
            <li id="about"><a href="about.html">About</a></li>
            <li id="service"><a href="service.html">Services</a></li>
            <li id="work"><a href="work.html">Our Work</a></li>
            <li class="dropdown utilities" id="utilities"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Utilities<b class="caret"></b></a>
                <div class="dropdown-content"><a id="guidlines" href="guidlines.html" id="guidlines">Prohibited Item</a> <a id="paperwork" href="paperwork.html" id="paperwork">Paper Work</a> <a id="rules" href="rules.html" id="rules">Rules</a></div>
            </li>
            <li id="contact"><a href="contact.html">Contact</a></li>
            <li class="dropdown"><a href="http://localhost/flybird/tracking-details.php"><i class="fa fa-truck" aria-hidden="true"></i> Track Order</a>
<!--
                <div class="dropdown-menu">
                    <div class="track-w3ls">
                        <h3>Enter Your Tracking Code</h3>
                        <form><input type="text" name="code" class="code" placeholder="Enter Tracking Code"> <button type="button" class="trackbutton" class="btn btn-primary">Track</button></form>
                        <p class="track-p1">Contact Us :</p>
                        <p class="track-p2"><a href="mailto:flybirdexpress@yahoo.co.in">flybirdexpress@yahoo.co.in</a></p>
                    </div>
                </div>
-->
            </li>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" rel="stylesheet">
    <script src="js/index.js"></script>
    <script>
        //        $('.slider-wrapper').slick({
        //            slidesToShow: 1,
        //            slidesToScroll: 1,
        //            arrows: true,
        //            centerMode: true,
        //            responsive: [{
        //                breakpoint: 400,
        //                settings: {
        //                    arrows: false,
        //                    autoplay: true,
        //                    autoplaySpeed: 2000,
        //
        //                }
        //               }]
        //
        //        });

        // Add active class to the current button (highlight it) 
        $(document).ready(function() {
            $('.btn').removeClass('active');
        });
        var path = window.location.pathname;
        path = path.substr(path.lastIndexOf('/') + 1, path.indexOf('.') - 1);
        if (path == '') {
            $('#index').addClass('active');
        }
        else if(path=='guidlines'||path=="paperwork"||path=="rules"){
            console.log(path)
            $('#utilities').addClass('active');
              $('#' + path).addClass('active'); 
        }
        else{
             $('#' + path).addClass('active'); 
        }</script>

