<div class="container">
    <div class="row">
        <div class="col col-md-3">
            <div ng-include="template.menu" class="template menu"></div>
        </div>
        <div class="col col-md-5 textcenter">
            <div>
                <form class="customerform animated fadeInDown">
                    <div class="md-form">
                        <input type="text" class="form-control" id="name" ng-model="customerinfo.name">
                        <label for="name" ng-class="{'active':customerinfo.name}">Name</label>
                    </div>
                    <div class="md-form">
                        <input type="tel" class="form-control" id="contact" ng-model="customerinfo.contact">
                        <label for="contact" ng-class="{'active':customerinfo.contact}">Contact</label>
                    </div>
                    <div class="md-form">
                        <input type="text" class="form-control" id="company" ng-model="customerinfo.company">
                        <label for="company" ng-class="{'active':customerinfo.company}">Company</label>
                    </div>
                    <div class="md-form">
                        <input type="text" class="form-control" id="address" ng-model="customerinfo.address">
                        <label for="address" ng-class="{'active':customerinfo.address}">Address</label>
                    </div>
                    <button type="submit" class="btn createfinalbutton fontweight600 greenbg" style="width:40%" ng-if="!addform" ng-click="canceledit()">Cancel</button>
                    <button type="submit" class="btn createfinalbutton fontweight600 greenbg" style="width:40%" ng-if="!addform" ng-click="savecustomer(customerinfo.id)">Save</button>
                    <button type="submit" class="btn createfinalbutton fontweight600 greenbg" ng-if="addform" ng-click="addcustomer()">Add Customer</button>
                </form>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="width100 textcenter fontweight600">CUSTOMER LIST</div>
            <div class="backupbox greenbg customersdiv animated slideInUp">

                <div class="customerlistitem">

                    <ul class="list-group" ng-if="customers != false">
                        <li class="list-group-item customeritem" ng-repeat="customer in customers" ng-click="editcustomer($index)">
                            <div class="row">
                                <div class="col col-md-2">
                                    <div class="thumbnaildiv" style="background-color:{{getcolor(customer.name)}}">{{customer.name.charAt(0) | uppercase}}</div>
                                </div>
                                <div class="col col-md-8">
                                    {{customer.company}} <span class="phonenumbercolor">{{customer.contact}}</span>
                                </div>
                                <div class="col col-md-2">
                                    <button class="btn deleteitembtn" ng-click="deletecustomerbyid(customer.id)" style="float: right;"><i class="fa fa-times" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div ng-if="customers == false" class="textcenter">
                        <p>Could not load customers</p>
                        <button class="btn createfinalbutton fontweight600" ng-click="getallcustomers()">Refresh</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<!--SURE MODAL-->
<div class="modal fade suremodal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document" style="width: 400px;">
        <div class="modal-content">
            <div class="modal-body row textcenter">
                <h4>Are you sure you want to delete this customer ?</h4>
                <button type="button" class="btn modalbtn fontweight600" data-dismiss="modal">No</button>
                <button type="button" class="btn modalbtn fontweight600" ng-click="deleteconfirm()">Yes</button>
            </div>
        </div>
    </div>
</div>

<!--ERROR MODAL-->
<div ng-include="template.errormodal" class=""></div>
