<div class="container">

    <div class="row">
        <div class="col col-md-6">
            <img src="img/flybird_logo.jpg" width="40%">
        </div>
        <div class="col col-md-6">
            <div class="row">
                <div class="col col-md-6">
                </div>
                <div class="col col-md-6">
                    <h5><span>Bill No:</span> <span class="greencolor fontweight600">{{ invoice.bill_no }}</span></h5>
                    <h5><span>Date:</span> <span class="greencolor fontweight600"> {{date | date:'dd-MM-yyyy'}} </span></h5>
                    <div class="row">
                        <div class="col col-md-6">
                            <h5 class=""><span>From Date:</span></h5>
                        </div>
                        <div class="col col-md-6 input-daterange" id="datepicker">
                            <input type="text" class="datesinp fd" ng-model="invoice.from_date" name="fromdate">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-6">
                            <h5 class=""><span>To Date:</span></h5>
                        </div>
                        <div class="col col-md-6 input-daterange" id="datepicker">
                            <input type="text" class="datesinp td" ng-model="invoice.to_date" name="todate">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-6">
                            <h5 class=""><span>SAC Code:</span></h5>
                        </div>
                        <div class="col col-md-6">
                            <select ng-model="invoice.type" class="browser-default billfield">
                                <option value="996812">996812</option>
                                <option value="996713">996713</option>
                                <option value="996531">996531</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-6">
                            <h5 class=""><span>GST Type:</span></h5>
                        </div>
                        <div class="col col-md-6">
                            <select ng-model="invoice.gsttype" class="browser-default billfield">
                                <option value="1">CGST/SGST</option>
                                <option value="2">IGST</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row textcenter greencolor fontweight600">
        CUSTOMER DETAILS
    </div>

    <div class="row custdiv">

        <div class="col col-md-2">
            <h5>Company: </h5>
        </div>
        <div class="col col-md-4 marginbottom5">
            <input class="width100" type="text" ng-model="customer.company" ng-change="nametyped()" ng-blur="resetfilter()">
            <ul class="suggestions-list">
                <li ng-repeat="suggestion in customers| filter:filter" ng-click="customerselected(suggestion)">{{suggestion.company}}<span class="suggestioncontact">{{suggestion.contact}}</span></li>
            </ul>
        </div>

        <div class="col col-md-2">
            <h5>Name: </h5>
        </div>
        <div class="col col-md-4 marginbottom5">
            <input class="width100" type="text" ng-model="customer.name">
        </div>

        <div class="col col-md-2">
            <h5>Phone: </h5>
        </div>
        <div class="col col-md-4 marginbottom5">
            <input class="width100" type="text" ng-model="customer.contact">
        </div>

        <div class="col col-md-2">
            <h5>Address: </h5>
        </div>
        <div class="col col-md-4 marginbottom5">
            <input class="width100" type="text" ng-model="customer.address">
        </div>
    </div>

    <div class="row greenbg invoicelistheader paddingtop2">
        <div class="col col-md-1">#</div>
        <div class="col col-md-2">Date</div>
        <div class="col col-md-1">Type</div>
        <div class="col col-md-2">AWB/Service No.</div>
        <div class="col col-md-1">Weight</div>
        <div class="col col-md-1">Pcs.</div>
        <div class="col col-md-2">To</div>
        <div class="col col-md-2 totalalign">Total</div>
    </div>
    <div class="row" ng-repeat="field in items">
        <div class="col col-md-1 textcenter">
            <input type="text" disabled class="billfield textcenter" ng-value="$index+1">
        </div>
        <!--<div class="col col-md-1 textcenter  input-daterange" id="datepicker">
            <input type="text" class="billfield" ng-model="field.date">
        </div>-->

        <div class="col col-md-2 input-daterange" id="datepicker">
            <input type="date" class="billfield" ng-model="field.date">
        </div>
        <div class="col col-md-1 textcenter">
            <select ng-model="field.product_id" class="browser-default billfield">
                <option value="1">Parcel</option>
                <option value="2">Document</option>
                <option value="3">Import-Export</option>
            </select>
        </div>
        <div class="col col-md-2 textcenter">
            <input type="text" class="billfield textcenter" ng-model="field.carrier">
        </div>
        <div class="col col-md-1 textcenter">
            <input type="text" class="billfield" ng-model="field.weight">
        </div>
        <div class="col col-md-1 textcenter">
            <input type="text" class="billfield" ng-model="field.pieces">
        </div>
        <div class="col col-md-2 textcenter">
            <input type="text" class="billfield" ng-model="field.to_place" ng-autocomplete="field.to_place">
        </div>
        <div class="col col-md-2">
            <input type="text" class="totalinput" ng-model="field.total" style="width:50% !important">
            <input type="checkbox" id="{{'test'+$index}}" ng-model="field.taxed" />
            <label for="{{'test'+$index}}"></label>
            <a class="deleteitembtn btn-floating btn-small greenbg" ng-click="removeitem($index)"><i class="fa fa-times"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-6">
            <a class="btn-floating btn-small greenbg" ng-click="additem()"><i class="fa fa-plus"></i></a>
        </div>
        <div class="col col-md-6 taxvaluesdiv">
            {{totalval()}}
            <!--<div class="col col-md-offset-3 col-md-5 marginbottom5">Total</div>
            <div class="col col-md-4 marginbottom5">{{invoice.amount | decimal2}}</div>

            <div class="col col-md-offset-3 col-md-5 marginbottom5">Service Tax</div>
            <div class="col col-md-4 marginbottom5">{{invoice.service_tax | decimal2}}</div>

            <div class="col col-md-offset-3 col-md-5 marginbottom5">Swach Bharat Tax</div>
            <div class="col col-md-4 marginbottom5">{{invoice.swachhbharat_tax | decimal2}}</div>

            <div class="col col-md-offset-3 col-md-5 marginbottom5">Krishi Kalyan Tax</div>
            <div class="col col-md-4 marginbottom5">{{invoice.krishikalyancess_tax | decimal2}}</div>-->



            <div class="col col-md-offset-3 col-md-5 subtotaldiv paddingtop2">Sub Total</div>
            <div class="col col-md-4 subtotaldiv paddingtop2">{{invoice.total | decimal2}}</div>

            <div class="col col-md-offset-3 col-md-5 greenbg subtotaldiv paddingtop2">Rounded Off</div>
            <div class="col col-md-4 greenbg subtotaldiv paddingtop2">{{invoice.total | number:0}}</div>

            <div class="col col-md-offset-3 col-md-5 subtotaldiv">TDS</div>
            <div class="col col-md-4 subtotaldiv">
                <input type="num" class="billfield" ng-model="invoice.tds" style="margin-top: 3px; height: 24px;" ng-change="addtds()">
            </div>

            <div class="col col-md-offset-3 col-md-5 greenbg subtotaldiv paddingtop2">Payable</div>
            <div class="col col-md-4 greenbg subtotaldiv paddingtop2">{{invoice.total-invoice.tds | number:0}}</div>
        </div>
    </div>

    <div class="row">
        <div class="col col-md-4">
            <button class="btn createfinalbutton fontweight600" ng-click="gotohome()">Cancel</button>
        </div>
        <div class="col col-md-4">
            <button class="btn createfinalbutton fontweight600" type="button" data-toggle="modal" data-target=".bs-example-modal-sm">Payment</button>
        </div>
        <div class="col col-md-4">
            <button class="btn createfinalbutton fontweight600" ng-click="saveinvoice()">Save</button>
        </div>
    </div>


</div>

<!--PAYMENT MODAL-->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title greencolor" id="myModalLabel">Make Payment</h4>
            </div>
            <div class="modal-body row">
                <div class="width100 col col-md-12 greencolor">
                    <h5>Payment</h5>
                </div>
                <div class="col col-md-12">
                    <div class="input-group">
                        <input type="number" class="" ng-model="invoice.paid">
                        <button type="button" class="btn modalbtn fontweight600" ng-click="makefullpayment()">Full</button>
                    </div>
                </div>
                <br>
                <div class="width100 col col-md-12 greencolor paddingtop2">
                    <h5>Remaining Payment: ₹ {{invoice.total - invoice.tds - invoice.paid | number:0}}</h5>
                </div>

            </div>
            <div class="modal-footer textcenter">
                <button type="button" class="btn modalbtn fontweight600" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>

<!--INITIALIZE DATE PICKER-->
<script>
    $('.input-daterange').datepicker({
        format: "dd-mm-yyyy",
        daysOfWeekHighlighted: "0"
    });

</script>
