<div class="container">
    <div class="row">
        <div class="col col-md-3">
            <div ng-include="template.menu" class="template menu"></div>
        </div>
        <div class="col col-md-9 textcenter">
            <div>
                <div class="textcenter">
                    <h3 class="greencolor inlinedisplay marginleft50">{{statname}}</h3>
                    <button type="button" data-toggle="modal" data-target=".bs-example-modal-sm" class="btn filterbtn fontweight600"><span class="glyphicon glyphicon-filter"></span>Filter</button>
                    <hr class="hrmargin">
                    <p class="filterdesc">{{stattitle}} | ₹{{statvalue | decimal2}}</p>
                </div>
                <canvas id="base" class="chart-bar graphheight" chart-data="data" chart-labels="labels" chart-colors="colors" chart-dataset-override="datasetOverride">
                </canvas>
                <div>
                    <div class="col col-md-1-5 countsdiv" ng-click="statselect(totalsales, 'Total Sales','total')">
                        <div class="orangecolor font08">Total Sales</div>
                        <div class="statsnumber">₹ {{ totalsales | decimal2}}</div>
                    </div>
                    <div class="col col-md-1-5 countsdiv" ng-click="statselect(netsales, 'Net Sales','amount')">
                        <div class="orangecolor font08">Net Sales</div>
                        <div class="statsnumber">₹ {{ netsales | decimal2}}</div>
                    </div>
                    <div class="col col-md-1-5 countsdiv" ng-click="statselect(servicetax, 'Service Tax','service_tax')">
                        <div class="orangecolor font08">Service Tax</div>
                        <div class="statsnumber">₹ {{ servicetax | decimal2}}</div>
                    </div>
                    <div class="col col-md-1-5 countsdiv" ng-click="statselect(sbtax, 'Swachh Bharat TAX','swachhbharat_tax')">
                        <div class="orangecolor font08">SB TAX</div>
                        <div class="statsnumber">₹ {{ sbtax | decimal2}}</div>
                    </div>
                    <div class="col col-md-1-5 countsdiv" ng-click="statselect(kkctax, 'Krishi Kalyan Cess Tax','krishikalyancess_tax')">
                        <div class="orangecolor font08">KKC Tax</div>
                        <div class="statsnumber">₹ {{ kkctax | decimal2}}</div>
                    </div>
                    <div class="col col-md-1-5 countsdiv" ng-click="statselect(servicetax + sbtax + kkctax, 'Total Tax', 'totaltax')">
                        <div class="orangecolor font08">Total Tax</div>
                        <div class="statsnumber">₹ {{ servicetax + sbtax + kkctax | decimal2}}</div>
                    </div>
                    <div class="col col-md-1-5 countsdiv" ng-click="statselect(totalpaid, 'Paid','paid')">
                        <div class="orangecolor font08">Credit</div>
                        <div class="statsnumber">₹ {{ totalpaid | decimal2}}</div>
                    </div>
                    <div class="col col-md-1-5 countsdiv" ng-click="statselect(totalunpaid, 'Unpaid', 'unpaid')">
                        <div class="orangecolor font08">Debit</div>
                        <div class="statsnumber">₹ {{ totalunpaid | decimal2}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--FILTER MODAL-->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title greencolor" id="myModalLabel">Apply Filter</h4>
            </div>
            <div class="modal-body row">
                <div class="width100 col col-md-12 greencolor">
                    <h5>Date</h5>
                </div>
                <div class="col col-md-12">
                    <div class="input-daterange input-group" id="datepicker">
                        <input type="text" class="input-sm form-control" ng-model="filteroptions.fromdate" name="fromdate" />
                        <span class="input-group-addon">to</span>
                        <input type="text" class="input-sm form-control" ng-model="filteroptions.todate" name="todate" />
                    </div>
                </div>


                <div class="width100 col col-md-12 greencolor paddingtop2">
                    <h5>Customer</h5>
                </div>

                <div class="col col-md-12">
                    <input class="width100" type="text" ng-model="filteroptions.customer" ng-change="nametyped()" ng-blur="resetfilter()">
                    <ul class="suggestions-list">
                        <li class="autolistitem" ng-repeat="suggestion in customers| filter:filter" ng-click="customerselected(suggestion)">{{suggestion.company}}<span class="suggestioncontact">{{suggestion.contact}}</span></li>
                    </ul>
                </div>

                <div class="width100 col col-md-12 greencolor paddingtop2">
                    <h5>Status</h5>
                </div>

                <div class="col col-md-12">
                    <select class="browser-default" ng-model="filteroptions.status" style="width: 100%;">
                        <option value="" selected>All</option>
                        <option value="1">Paid</option>
                        <option value="2">Unpaid</option>
                    </select>
                </div>

            </div>
            <div class="modal-footer textcenter">
                <button type="button" class="btn modalbtn fontweight600" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn modalbtn fontweight600">Reset</button>
                <button type="button" class="btn modalbtn fontweight600" ng-click="getstats(filteroptions.fromdate, filteroptions.todate,filteroptions.customerid,filteroptions.status, true)" data-dismiss="modal">Apply</button>
            </div>
        </div>
    </div>
</div>

<!--INITIALIZE DATE PICKER-->
<script>
    $('.input-daterange').datepicker({
        format: "dd/mm/yyyy",
        daysOfWeekHighlighted: "0"
    });

</script>
